<!DOCTYPE html>
<html>
<head>
    <title>{% block titre %}Parent{% endblock%}</title>
    <meta name="robots" content="noindex,nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>menu</title>
    <link rel="stylesheet" href="{{ asset('assets/front/css/style_base.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/front/css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=lvvb1kdgdkmznvwrfv4xlihguzmf2guncbmdan91383b38g4"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,700,500"><link rel="shortcut icon" href="https://www.redsquare.lu/wp-content/themes/redsquare/css/favicon.gif" type="image/x-icon"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    {# <link rel="stylesheet" href="{{ asset('assets/css/front/') }}"> #}

</head>
<body class="app">
<header>
    <div class="header-container">
        <div class="div-header-image">
        <a href="{{ path('accueil') }}">
            <img class="img-header" src="{{asset('assets/front/img/image-1.png')}}">
        </a>
        </div>
        <div class="gap-header"></div>
        <div class="div-cat-header ">
            <div class="cat-header {% if( title == "home") %} main-cat  {% endif %}">
            <a href="{{ path('accueil') }}">
                <img class="img-home-header" src="{{asset('assets/front/img/trac-2.png')}}">
            </a>
            </div>
            <div class="cat-header {% if( title == "credits") %} main-cat  {% endif %}">
                <a href="{{ path('credits') }}"><h3 class="h3-title-header montserrat-medium-dove-gray-14px"> Crédits</h3></a>
            </div>
            <div class="cat-header {% if( title == "philo") %} main-cat  {% endif %}">
                <a href="{{ path('philosophie') }}"><h3 class="h3-title-header montserrat-medium-dove-gray-14px"> Notre philosophie</h3></a>
            </div>
            <div class="cat-header {% if( title == "contact") %} main-cat  {% endif %}">
                <a href="{{ path('contact') }}"><h3 class="h3-title-header montserrat-medium-dove-gray-14px"> Contact</h3></a>
            </div>
        </div>
        <div class="btn-header">
            <div class="btn-div-h">
                <div class="btn-tel border-1px-web-orange">
                    <a class="link-tel">
                        <img class="img-phone" src="{{asset('assets/front/img/trac-3.png')}}">
                        <p class="num-tel montserrat-medium-dove-gray-14px"> +32 63 677 659 </p>
                    </a>
                </div>
            </div>
            <div class="btn-div-h">
                <div class="btn-pret">
                    <a class="link-pret">
                        <a href=""><p class="demande-pret montserrat-medium-white-14px">DEMANDER UN PRÊT</p></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-div">
    <div class="bande-header">
        <a href="{{ path('pretPerso') }}">
            <div class="div-bande-header">
                <div class="logo-div-header"><img class="img-h" src="{{asset('assets/front/img/trac-9.png')}}"></div>
                <div class="titre-bande-header montserrat-bold-dove-gray-12px">PRÊT PERSO</div>
            </div>
        </a>
        <a href="{{ path('pretAuto') }}">
            <div class="div-bande-header">
                <div class="logo-div-header"><img class="img-h" src="{{asset('assets/front/img/trac--11-4@1x.png')}}"></div>
                <div class="titre-bande-header montserrat-bold-dove-gray-12px">PRÊT AUTO</div>
            </div>
        </a>
        <a href="{{ path('pretMoto') }}">
            <div class="div-bande-header">
                <div class="logo-div-header" style="width: 30%;"><img class="img-h" src="{{asset('assets/front/img/trac--236-38@1x.png')}}"></div>
                <div class="titre-bande-header montserrat-bold-dove-gray-12px">PRÊT MOTO</div>
            </div>
        </a>
               <div class="div-bande-header">
        <a href="{{ path('pretMobi') }}">
            <div class="logo-div-header" style="width: 27%;"><img class="img-h" src="{{asset('assets/front/img/trac--235-44@1x.png')}}"></div>
                <div class="titre-bande-header montserrat-bold-dove-gray-12px">PRÊT MOBILITÉ</div>
                </div>
        </a>
        <a href="{{ path('pretTravaux') }}">
            <div class="div-bande-header">
                <div class="logo-div-header"><img class="img-h" src="{{asset('assets/front/img/trac--13-10@1x.png')}}"></div>
                <div class="titre-bande-header montserrat-bold-dove-gray-12px">PRÊT TRAVAUX</div>
            </div>
        </a>
        <a href="{{ path('regroupement') }}">
            <div class="div-bande-header">
                <div class="logo-div-header"><img class="img-h" src="{{asset('assets/front/img/trac--15-10@1x.png')}}"></div>
                <div class="titre-bande-header montserrat-bold-dove-gray-12px">REGROUPEMENT</div>
            </div>
        </a>
        <a href="{{ path('carteCredit') }}">
            <div class="div-bande-header">
                <div class="logo-div-header" style="width: 28%;"><img class="img-h" src="{{asset('assets/front/img/trac--343-9@1x.png')}}"></div>
                <div class="titre-bande-header montserrat-bold-dove-gray-12px">CARTE DE CRÉDIT</div>
            </div>
        </a>
        <a href="{{ path('entreprise') }}">
            <div class="div-bande-header">
                <div class="logo-div-header"><img class="img-h" src="{{asset('assets/front/img/trac--20-10@1x.png')}}"></div>
                <div class="titre-bande-header montserrat-bold-dove-gray-12px">ENTREPRISE</div>
            </div>
        </a>
    </div>
    </div>
</header>
{% block body %}

{% endblock %}

<footer>
    <div style="background-color: #404040;width: 100%;float: left;min-height: 250px;padding-top: 50px;line-height:1.7">
        <div class="div-footer txt-black" style="width: 25%!important;color: white!important">
            <ul class="txt-black" style="color: white!important">
                <li>
                    <img src="/assets/front/img/logo-espace-credit-n-8@1x.png" style="width: 40%">
                </li>
                <li style="font-weight: 300">
                    Courtier spécialisé dans les crédits personnels,<br>
                    les regroupements de crédits et les crédits<br>
                    entreprises au Luxembourg et en Belgique.
                </li>
            </ul>
        </div>

        <div class="div-footer">
            <ul class="txt-black" style="color: white!important">
                <li><a href="{{ path('pretPerso') }}">Prêt perso</a></li>
                <li><a href="{{ path('pretAuto') }}">Prêt auto</a></li>
                <li><a href="{{ path('pretMoto') }}">Prêt moto</a></li>
                <li><a href="{{ path('pretMobi') }}">Prêt mobilité</a></li>
            </ul>
        </div>

        <div class="div-footer">
             <ul class="txt-black" style="color: white!important">
                <li><a href="{{ path('pretTravaux') }}">Prêt travaux</a></li>
                <li><a href="{{ path('regroupement') }}">Regroupement</a></li>
                <li><a href="{{ path('carteCredit') }}">Carte de crédit</a></li>
                <li><a href="{{ path('entreprise') }}">Entreprise</a></li>
            </ul>
        </div>

        <div class="div-footer">
            <ul class="txt-black" style="color: white!important;font-weight:300">
                <a href=""><li class="p1">   +32 63 677 659</li></a>
                <a href=""><li class="p2">   +32 4 74 120 507</li></a>
                <a href=""><li class="p2">   +352 691 625 137</li></a>
                <a href=""><li class="p3">   credit@espace-credits.be</li></a>
            </ul>
        </div>

        <div class="div-footer">
            <ul class="txt-black" style="color: white!important;font-weight:300">
                <a href="">
                    <li class="p4">Grand-Rue, 5<br>
                    B-6791 Athus<br>
                    BELGIQUE</li>
                </a>
                <li class="p5">Lu-Ve: 9h00 - 18h00</li>
            </ul>
        </div>
        <div style="float:left;width: 100%;text-align: center;padding-bottom: 30px">
            <a target="_blank" href="https://www.facebook.com/espacecreditsathus/"><img style="width: 15px" src="/assets/front/img/trac--35-10@1x.png"></a>
            <span style="color: transparent">espace</span>
            <a target="_blank" href="https://be.linkedin.com/company/espace-cr%C3%A9dits"><img style="width: 30px" src="/assets/front/img/linkedin-11@1x.png"></a>
        </div>
    </div>
    <div class="txt-black" style="float: left;width: 100%;text-align: center;background-color: #2f2f2f;color: white;padding-top: 10px;padding-bottom: 10px;
    font-weight: 300!important;font-size:13px;">
        Mentions légales - Gestion des données - CGU<br>@2021 - Agence de communication A3COM
    </div>
</footer>
</body>
</html>