{% extends 'front/base-front.html.twig' %}
{% block body %}
    <div style="width: 100%;float: left">
        <div class="div-centre-titre"> 
           <h1 class="titre-part montserrat-bold-white-32px animate-enter" style="color: var(--nevada)">
               Prenons contact
           </h1>
        </div>
        <div class="ligne-yellow"></div>

        <div style="width: 35%;margin: auto;padding-top: 20px;padding-bottom: 50px">
            <table class="txt-black p-contact" style="font-weight: 300">
                <tr>
                    <td style="text-align: center"><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=espace+credit+aubange+belgique"><img src="/assets/front/img/trac--251-10@1x.png"></a></td>
                    <td class="td-contact"><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=espace+credit+aubange+belgique">5, Grand-Rue</a></td>
                    <td style="text-align: center"><img src="/assets/front/img/trac--247-10@1x.png"></td>
                    <td class="td-contact">+32 63 677 659</td>
                </tr>

                <tr>
                    <td></td>
                    <td class="td-contact"><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=espace+credit+aubange+belgique">B-6791 Athus</a></td>
                    <td style="text-align: center"><img src="/assets/front/img/trac--248-10@1x.png"></td>
                    <td class="td-contact"><a style="color: black" href="tel:+32 4 74 120 507">+32 4 74 120 507</a></td>
                </tr>

                <tr>
                    <td></td>
                    <td class="td-contact"><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=espace+credit+aubange+belgique">BELGIQUE</a></td>
                    <td style="text-align: center"><img src="/assets/front/img/trac--248-10@1x.png"></td>
                    <td class="td-contact"><a style="color: black" href="tel:+352 691 625 137">+352 691 625 137</a></td>
                </tr>

                <tr>
                    <td style="text-align: center"><img src="/assets/front/img/trac--247-10@1x.png"></td>
                    <td class="td-contact">Lu-Ve: 9h00 - 18h00</td>
                    <td style="text-align: center"><img src="/assets/front/img/trac--250-10@1x.png"></td>
                    <td class="td-contact"><a style="color: black" href="mailto:credit@espace-credits.be">credit@espace-credits.be</a></td>
                </tr>
            </table>
        </div>

        {{ form_start(form) }}
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Objet)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.Objet)}}</div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Prenom)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.Prenom)}}</div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Nom)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.Nom)}}</div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Email)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.Email)}}</div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Telephone)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.Telephone)}}</div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Message)}}</div></div></div>
            <div class="div-input-contact">{{form_widget(form.Message)}}
            <div class="div-input-contact">
                <div class="input-title-contact" style="color: grey;font-size: 13px;text-align: justify">
                    <div style="width: 5%;float: left">{{form_widget(form.RGPD)}}</div>
                    <div style="width: 80%;float: left;line-height: 1.4">En soumettant ce formulaire, j'accepte que les informations saisies soient acceptées dans le cadre de ma demande et de la relation commerciale qui 
                        peut en découler. Les données personnelles collectées sont uniquement destinées à un usage interne chez Espace Crédits, en conformité avec la législation
                         sur la protection des données. En aucun cas ces données ne seront cédées ou vendues à des tiers.<br>Pour plus d'informations, <a href="" style="font-weight: bold">cliquez-ici</a>.
                    </div>
                    <div class="div-btn-cred" style="width: 100%!important;float: left;padding-top: 40px;padding-bottom: 100px;height: auto">
                        <div class="btn-pret" style="width: 20%;margin: auto">
                            <div class="link-pret" style="padding: 6px">{{form_widget(form.Envoyer)}}</div>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>

    <div id="map" style="width: 100%;min-height: 400px;">
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiYTNjb20iLCJhIjoiODczZjBhMmM3NjYwZWFkMDkzOTU2NDY1NjYwYThjN2YifQ.WP5AS_54dOPm3SX9SpLACA';
            var map = new mapboxgl.Map({
                container: 'map', // container id
                style: 'mapbox://styles/a3com/ckki403ai0icw17o216aq7ja8', // style URL
                center: [5.830060328835906, 49.563177650018474], // starting position [lng, lat]
                zoom: 15 // starting zoom
            });
            map.on('load', function () {
                // Load an image from an external URL.
                map.loadImage(
                    '/assets/front/img/trac--375@1x.png',
                    function (error, image) {
                        if (error) throw error;

                        // Add the image to the map style.
                        map.addImage('pointer_takajo', image);

                        // Add a data source containing one point feature.
                        map.addSource('point', {
                            'type': 'geojson',
                            'data': {
                                'type': 'FeatureCollection',
                                'features': [
                                    {
                                        'type': 'Feature',
                                        'geometry': {
                                            'type': 'Point',
                                            'coordinates': [5.830060328835906, 49.563177650018474]
                                        }
                                    }
                                ]
                            }
                        });

                        // Add a layer to use the image to represent the data.
                        map.addLayer({
                            'id': 'points',
                            'type': 'symbol',
                            'source': 'point', // reference the data source
                            'layout': {
                                'icon-image': 'pointer_takajo', // reference the image
                                'icon-size': 1
                            }
                        });
                    }
                );
            });
        </script>
    </div>

    <style>
        #contact_Envoyer{
            border: none;
            background-color: orange;
        }
 
        .big-text-area{
            height: 120px!important;
        }

        .td-contact{
            width: 58%;
        }
        .input-title-contact{
            width: 35%;
            text-align: left;
            margin: auto;
            margin-bottom: 5px;
        }
        .input-contact{
            width: 35%;
            border-color: var(--black);
            margin-bottom: 15px;
            height: 40px;
        }
        .div-input-contact{
            width: 100%;
            float: left;
            text-align: center;
        }
        .input-form::placeholder{
            color: grey;
        }
    </style>
{% endblock %}