{% extends 'front/base-front.html.twig' %}
{% block body %}
<div class="img-header-homes" style="min-height: 248px;background-image:url({{asset('assets/front/img/shutterstock-1890826546-3@1x.png')}});">
    <div style="background-color: var(--black);min-height: 248px">
        <div style="color: white;padding-top: 50px;padding-left: 50px;" class="titre-taux-black">Nos crédits <br>aux meilleurs taux</div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<div class="div-lightgrey" style="width: 100%;min-height: 500px;">
    <div class="div-centre-titre"> 
        <h1 class="titre-part titre-part-cred montserrat-bold-white-32px animate-enter" style="color: var(--nevada)">
            Les solutions Espace Crédits
        </h1>
    </div>
    <div class="ligne-yellow"></div>
    <div class="txt-low-weight-black txt-part-cred" style="text-align: center;padding-bottom: 30px">Chez Espace Crédits, nous vous proposons plusieurs types de crédits<br> aux meilleurs taux* spécialement adaptés à vos besoins et envies</div>
      <div class="slider slider-credits">
      {% for i , credit in credits %}
    <div class="slide" style="width: 5%">
        <p class="montserrat-bold-nevada-20px title-credits" style="text-align:center">   {{credit.nom}} </p>
        <div class="div-slide-button-align">
          <div class="taeg montserrat-bold-web-orange-20px">
          {% for i , taux in credit.taux %}
              <div>{% if taux.nom %}<span class="montserrat-light-web-orange-16px taeg-name" style="font-size: 12px!important;">({{taux.nom}}) </span> {% endif %}</br><span class="montserrat-medium-web-orange-20px">TAEG àpd</span><span class="montserrat-bold-web-orange-20px-2">&nbsp;</span><span class="montserrat-bold-web-orange-46px">{{taux.taux}}%</span><span class="montserrat-bold-web-orange-46px">*</span></div>
          {% endfor %}
          </div>
          <p class="surname montserrat-light-tundora-16px">
              {{credit.description}}
          </p>
        </div>
        <div class="div-dec-btn offrepretslide">
            <div class="btn-pret">
                <a href="{{ path(credit.slug) }}" class="link-pret">
                    <p class="demande-pret montserrat-medium-white-14px">NOS OFFRES DE PRÊT</p>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
     
  </div>
    <div class="div-dot">
        <span class="dot dot-active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>      
        <span class="dot"></span>
        <span class="dot"></span>   
    </div>
    <div class="cred-typo typo" style="text-align: right;color: var(--nevada);padding-right: 30px;padding-bottom: 20px;padding-top: 80px">
        *Taux préférenciel, sous réserve d'acceptation du dossier par la société de crédit.
    </div>
</div>


<script type="text/javascript">
    $('.slider').slick({
        dots: false,
        vertical: false,
        infinite: true,
        speed: 500,
        slidesToShow: 5,
        slidesToScroll: 3,
        autoplay: false,
        autoplaySpeed: 2000,
        responsive: [
            {
              breakpoint: 1500,
              settings: {
                slidesToShow: 4,
                slidesToScroll: 3
              }
            },
            {
              breakpoint: 1250,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3
              }
            },
            {
              breakpoint: 925,
              settings: {
                slidesToShow:2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 620,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
        ]
    });

</script>


<div style="width: 100%;float: left;min-height: 600px;">
    <div class="div-centre-titre"> 
        <h1 class="titre-part montserrat-bold-white-32px animate-enter" style="color: var(--nevada)">
            Tout savoir sur les crédits
        </h1>
    </div>
    <div class="ligne-yellow"></div>
    <div class="div-img" style="width: 50%;float: left;padding-left: 10%;min-height: 300px">
        <div class="txt-black txt-low-weight-black div-bottom-ul">
            <div class="txt-black">Un crédit, qu'est-ce que c'est,<br> et pourquoi faire un prêt ?</div><br>
            Au cours de votre vie, vous avez des projets tels que des achats, un mariage, une ou des naissances, des envies de
             nouvelles voitures, de voyager ou de réaliser des travaux dans votre habitat. Cependant, ces projets ont un coût !
            <br><br>
            C'est pourquoi il est utile de souscrire un crédit. Nous vous prêtons la somme dont vous avez besoin et vous payerez
             des mensualités sur une période définie jusqu'à remboursement total du prêt et de ses intérêts.
            <div class="orange-title" style="font-weight: bold">
                Attention toutefois, emprunter de l'argent coûte aussi de l'argent.
            </div>
        </div>
        
    </div>
    <div class="div-img" style="background-image:url({{asset('assets/front/img/image-7@1x.png')}});background-position: 45% 55%;background-size: 450px">
        <img class="img-page-credit" src="assets/front/img/image-8-1@1x.png" style="width: 40%;border: solid white 10px;">
    </div>
</div>

<div class="txt-black" style="width: 100%;float: left;min-height: 400px;background-color: var(--nevada);color: white;padding-left: 10%">
    <div class="ul-validate" style="color: white;padding-top: 50px;padding-left: 4%">Puis-je demander un prêt ?</div>
    <div class="txt-low-weight-black div-top-ul" style="padding-top: 40px;padding-left: 4%">Vous pouvez contracter un crédit à quelques conditions :</div>
    <ul class="ul-validate ul-credit" style="columns: 2;width: 100%;padding-left: 4%">
        <li class="li-validate" style="height: 70px"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Être résident belge ou luxembourgeois<br><span class="txt-low-weight-black">Lorem ipsum</span></span></li>
        <li class="li-validate" style="height: 70px"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Avoir entre 25 et 65 ans<br><span class="txt-low-weight-black">Lorem ipsum</span></span></li>
        <li class="li-validate" style="height: 70px"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Avoir un contrat de travail<br><span class="txt-low-weight-black">Revenus fixes et réguliers</span></span></li>
        <li class="li-validate" style="height: 70px"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Avoir une situation financière saine<br><span class="txt-low-weight-black">Reste à vivre suffisant. Taux d'endettement faible</span></span></li>
    </ul>
</div>

<div style="width: 100%;float: left;color: var(--nevada)">
    <div class="div-centre-titre"> 
        <h1 class="titre-part montserrat-bold-white-32px animate-enter" style="color: var(--nevada)">
            Nos partenaires pour vos crédits
        </h1>
    </div>
    <div class="ligne-yellow"></div>

    <ul class="partenaires-desktop" style="display: inline-flex;align-items: center;list-style: none;padding-left: 5%">
        <li><img style="width: 90%;padding-left: 40px;padding-right: 40px;" src="assets/front/img/image-10-1@1x.png"></li>
        <li><img style="width: 90%;padding-left: 40px;padding-right: 40px;" src="assets/front/img/image-11-1@1x.png"></li>
        <li><img style="width: 90%;padding-left: 40px;padding-right: 40px;" src="assets/front/img/image-12-1@1x.png"></li>
        <li><img style="width: 90%;padding-left: 40px;padding-right: 40px;" src="assets/front/img/image-13-1@1x.png"></li>
    </ul>
    <div class="slider-partenaires" style="float: left;width: 100%;display: none">
      <div><img style="width: 50%;margin: auto" src="assets/front/img/image-10-1@1x.png"></div>
      <div><img style="width: 50%;margin: auto" src="assets/front/img/image-11-1@1x.png"></div>
      <div><img style="width: 50%;margin: auto" src="assets/front/img/image-12-1@1x.png"></div>
      <div><img style="width: 50%;margin: auto" src="assets/front/img/image-13-1@1x.png"></div>
    </div>
</div>

<script type="text/javascript">
    $('.slider-partenaires').slick({
        dots: true,
        vertical: false,
        infinite: true,
        speed: 500,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        arrows: false
    });

</script>

<div class="txt-black div-emprunte-argent">
    Attention : emprunter de l'argent coûte aussi de l'argent
</div>

<style>
    .slide{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .slick-arrow{
        background-image: url("assets/front/img/trac--227-1@1x.png");
        background-repeat: no-repeat;
        color: transparent;
        background-color: transparent;
        background-position: center;
        border: none;
        position: absolute;
        z-index: 1000;
        height: 40px;
        width: 75px;
        background-size: 50px;
        margin-top: 70px;
    }
    .slick-prev{
        margin-left: 45%;
        top: 100%;
    }
    .slick-next{
        margin-left: 50%;
        transform: rotate(180deg); 
    }
</style>
{% endblock %}