<div class="div-demande-form txt-black div-center-demande-pret">
            Credit en cours  n° __qnb__
        </div>
        <div class="delete-btn-prototype_1">
          <img class="delete-img delete-img-credit" src="{{asset('assets/front/img/fermer.svg')}}" /> 
        </div>     
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.type_credit)}}</div></div>
        <div class="div-input-contact">{{form_widget(item.type_credit)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.org_pret)}}</div></div>
        <div class="div-input-contact">{{form_widget(item.org_pret)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.montant)}}</div></div>
        <div class="div-input-contact">{{form_widget(item.montant)}}</div>
         <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.montant_achat)}}</div></div>
        <div class="div-input-contact">{{form_widget(item.montant_achat)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.duree_credit)}}</div></div>
        <div class="div-input-contact">{{form_widget(item.duree_credit)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.taux)}}</div></div>
        <div class="div-input-contact">{{form_widget(item.taux)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.montant_echeance)}}</div></div>
        <div class="div-input-contact">{{form_widget(item.montant_echeance)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.date_debut)}}</div></div>
        <div class="div-input-contact date-select">{{form_widget(item.date_debut)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.solde)}}</div></div>
        <div class="div-input-contact">{{form_widget(item.solde)}}</div>


