{% extends 'front/base-front.html.twig' %}
{% block body %}
    <div class="div-lightgrey">
        <div class="txt-black div-center-demande-pret" style="color: var(--nevada)">
            Formulaire de demande
        </div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Titre)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Titre)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Nom)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Nom)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Prenom)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Prenom)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Date)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Date)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.VilleNaissance)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.VilleNaissance)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.PaysNaissance)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.PaysNaissance)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Registre)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Registre)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Identite)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Identite)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Enregistrement)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Enregistrement)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.PaysIdentite)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.PaysIdentite)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.DateIdentite)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.DateIdentite)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.EtatCivil)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.EtatCivil)}}</div>

        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Habitation)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Habitation)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Rue)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Rue)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.NumeroRue)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.NumeroRue)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Boite)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Boite)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.CodePostal)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.CodePostal)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.VilleResidence)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.VilleResidence)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.PaysResidence)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.PaysResidence)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.DateAdresse)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.DateAdresse)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Telephone)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Telephone)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.GSM)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.GSM)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Email)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Email)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.NumeroCompte)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.NumeroCompte)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.DateCompte)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.DateCompte)}}</div>

        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.TypeEmploi)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.TypeEmploi)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Emploi)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Emploi)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Secteur)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Secteur)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.TempsContrat)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.TempsContrat)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.TypeContrat)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.TypeContrat)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.DateContrat)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.DateContrat)}}</div>

        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.NomEmployeur)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.NomEmployeur)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.AdresseEmployeur)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.AdresseEmployeur)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.TelephoneEmployeur)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.TelephoneEmployeur)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.CodePostalEmployeur)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.CodePostalEmployeur)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.VilleEmployeur)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.VilleEmployeur)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.PaysEmployeur)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.PaysEmployeur)}}</div>

        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Salaire)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Salaire)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.PensionAlimentaire)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.PensionAlimentaire)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Invalidite)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Invalidite)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Allocation)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Allocation)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Pension)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Pension)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Mutuelle)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Mutuelle)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Chomage)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Chomage)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Handicap)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Handicap)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.RevenuLocatif)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.RevenuLocatif)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.ChequeRepas)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.ChequeRepas)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.VoitureSociete)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.VoitureSociete)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.AutresRevenus)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.AutresRevenus)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.DescriptionAutres)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.DescriptionAutres)}}</div>

        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.Loyer)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.Loyer)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.PensionAlimentairePayer)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.PensionAlimentairePayer)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.AutresCharges)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.AutresCharges)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.DescriptionAutresCharges)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.DescriptionAutresCharges)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.NombreEnfants)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.NombreEnfants)}}</div>
        
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.NombreCredit)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.NombreCredit)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.TypeCredit)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.TypeCredit)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.OrganismePreteur)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.OrganismePreteur)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.MontantCredits)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.MontantCredits)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.DureeCredits)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.DureeCredits)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.TauxCredit)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.TauxCredit)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.MontantEcheance)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.MontantEcheance)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.DebutCredit)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.DebutCredit)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.RemboursementCredits)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.RemboursementCredits)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.SoldeCredit)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.SoldeCredit)}}</div>

        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.TypeBien)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.TypeBien)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.ValeurVenale)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.ValeurVenale)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.MontantAchatHypo)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.MontantAchatHypo)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.DureeCreditHypo)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.DureeCreditHypo)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.DateEcheanceHypo)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.DateEcheanceHypo)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.DateDebut)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.DateDebut)}}</div>
        <div class="div-btn-cred" style="width: 100%!important;float: left;padding-top: 40px;padding-bottom: 100px;height: auto">
            <div class="btn-pret" style="width: 45%;margin: auto">
                <a href="" class="link-pret" style="padding: 6%">{{form_widget(form.Envoyer)}}</a>
            </div>
        </div>
    {{ form_end(form) }}
    </div>
    <style>
        .big-text-area{
            height: 120px!important;
        }
        .input-title-contact{
            width: 35%;
            text-align: left;
            margin: auto;
            margin-bottom: 5px;
        }
        .input-contact{
            width: 35%;
            border-color: var(--black);
            margin-bottom: 15px;
            height: 40px;
        }
        .div-input-contact{
            width: 100%;
            float: left;
            text-align: center;
        }
        .input-form::placeholder{
            color: grey;
        }
        .form-inline{
            margin: auto;
        }
    </style>
{% endblock %}