{% extends 'front/base-front.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block description %}{{description}}{% endblock %}
{% block body %}
    {{ form_start(form) }}
    <div class="form-pret form-demande">
   <div class="div-form-pret">
        <div class="div-titre-form">
          <h1 class="titre-form animate-enter1">
              Crédit actuel demandé </h1>
        </div>
        
        <div class="inputs label-form montserrat-medium-white-14px" style="width: 99%;">
          <div style="width: 99%;float: left">Types de prêt</div>
          <div class="div-input-preview" style="width: 99%;float: left"><select class="input-form select-credit txt-low-weight-white form-select-demande"/>
          {% set first = true %}
              {% set objFirst = "" %}
              {% for i , objet1 in objets %}
                {% if first %}
                    {% set objFirst = objet1 %}
                    {% set first = false %}
                {% endif %}
                  <option class="txt-low-weight-white" data-credit-nom="{{objet1.credit.nom}}" value="{% if (repo.findMinTaeg(objet1.id)) %} {{repo.findMinTaeg(objet1.id)}} {% else %} {{objet1.taux}} {% endif %}" data="{{objet1.nom}}" data-mintaeg="{{repo.findMinTaeg(objet1.id)}}" data-credit="{{objet1.id}}">{{objet1.credit.nom}}{% if objet1.nom != "" %} - {{objet1.nom}}{% endif %}</option>

              {% endfor %}
              </select>
          </div>
          <div style="width: 99%;float: left">Montant <span style="font-weight: 100;" class="span-euro">- euro</span></div>
          <div class="div-input-preview" style="width: 99%;float: left"><input name="montant" class="input-form montant-form txt-low-weight-white" placeholder="Entez un montant" value="{% if(objet.getMontantCredit)  %}{{objet.getMontantCredit}}{% else %} 12000 {% endif %}"/></div>
          <div style="width: 99%;float: left">Durée <span style="font-weight: 100;" class="span-mois">- mois</span></div>
          <div class="div-input-preview" style="width: 99%;float: left"><!--<input class="input-form duree-form txt-low-weight-white" placeholder="Sélectionnez une durée" value="60"/>-->
            <select class="input-form duree-form txt-low-weight-white" name="month" {% if(objet.getDureeCredit)  %} value="{{objet.getDureeCredit}}" {% endif %}>
              <option value="24">24</option>
              <option value="30">30</option>
              <option value="36">36</option>
              <option value="42">42</option>
              <option value="48">48</option>
              <option value="60">60</option>
              <option value="72">72</option>
              <option value="84">84</option>
              <option value="96">96</option>
              <option value="108">108</option>
              <option value="120">120</option>
            </select> 
          </div>
          <div style="width: 99%;float: left" class="error-div"> </div>
        </div>

        <div class="txt-black big-number-orange big-num-orange" style="width: 100%;float: left;padding-top: 10px;padding-bottom: 5px">
        <div class="label-form  montserrat-medium-white-14px" style="width: 99%;float: left;">Mensualités</div>526<span class="litle-num-orange" style="font-size: 25px">,23</span>€</div>
        <div class="desc-div" style="line-height: 1.5;">
            <div class="txt-black txt-low-weight-white">Total à rembourser: <span class="numbers-right montant-form montant-info">14.000€</span></div>
            <div class="txt-black txt-low-weight-white">Intérêts à payer: <span class="numbers-right interet-info">2.330€</span></div>
            <div class="txt-black txt-low-weight-white">TAEG: <span data="{% if (repo.findMinTaeg(objFirst.id)) %} {{repo.findMinTaeg(objFirst.id)}} {% else %} {{objFirst.taux}}{% endif %}" dataclass="{{objFirst.nom}}" class="numbers-right taux-info">{% if (repo.findMinTaeg(objFirst.id)) %} {{repo.findMinTaeg(objFirst.id)}}{% else %} {{objFirst.taux}}{% endif %}%*</span></div>
            <div class="txt-black txt-low-weight-white">Durée: <span class="numbers-right duree-info">60 mois</span></div>
            <div class="txt-black txt-low-weight-white">Durée Max: <span class="numbers-right duree-info-max">60 mois</span></div>
            <input type="hidden" class="input-taeg" style="display:none;" name="taeg" />
        </div>
        <div class="div-btn-cred demandecred" style="margin-bottom: 40px;margin-top: 40px">
            <div class="btn-pret" style="width: 200px;">
                 <a href="{{ path('demandePret') }}" onclick="alert('test');" class="link-pret">
                     <p class="demande-pret montserrat-medium-white-14px">DEMANDE DE CRÉDIT</p>
                 </a>
            </div>
        </div>
        <div class="typo" style="color: var(--white)">
            *Taux préférentiel sous réserve d'acceptation du dossier par la société de crédit.
        </div>
   </div>
</div>
    <div class="div-lightgrey">
        <div class="div-centre-titre"> 
            <h1 class="titre-part montserrat-bold-white-32px animate-enter" style="color: var(--nevada)">
                Demande de prêt
            </h1>
        </div>
        <div class="ligne-yellow"></div>

        <div class="div-demande-form txt-black div-center-demande-pret">
            Type de crédit
        </div>
        <div class="div-input-contact div-type-cred">{{form_widget(form.type_credit_demande)}}</div>
        <div class="credit-form credit-hypo-form credit-form-sup" style="display: none">
            <div class="div-demande-form txt-black div-center-demande-pret">
                Crédit hypothécaire
            </div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.type_bien)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.type_bien)}}</div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.valeur_venale)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.valeur_venale)}}</div>
            
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.duree_credit_hypo)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.duree_credit_hypo)}}</div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.date_echeance_hypo)}}</div></div>
            <div class="div-input-contact date-select">{{form_widget(form.date_echeance_hypo)}}</div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.date_debut_credit_hypo)}}</div></div>
            <div class="div-input-contact date-select">{{form_widget(form.date_debut_credit_hypo)}}</div>
        </div>
        
        <div class="credit-form credit-perso-form credit-form-sup" style="display: none">
            <div class="div-demande-form txt-black div-center-demande-pret">
                Crédit perso
            </div>
              <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.type_taux_perso)}}</div></div>
            <div class="div-input-contact date-select">{{form_widget(form.type_taux_perso)}}
               
            </div>
        </div>

        <div class="credit-form credit-auto-form credit-form-sup" style="display: none">
            <div class="div-demande-form txt-black div-center-demande-pret">
                Crédit voiture
            </div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">Type de prêt auto</div></div>
            <div class="div-input-contact">
                <select class="input-contact input-form select-credit" name="tauxVoiture"/>
                    {% set first = true %}
                    {% set objFirst = "" %}
                    {% for taux in pretAuto.taux %}
                      {% if first %}
                        {% set objFirst = taux %}
                        {% set first = false %}
                        {% endif %}
                        <option value="{{taux.taux}}">{{taux.nom}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.type_taux_voiture)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.type_taux_voiture)}}</div>
        </div>

        <div class="credit-form credit-moto-form credit-form-sup" style="display: none">
            <div class="div-demande-form txt-black div-center-demande-pret">
                Crédit moto
            </div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">Type de prêt moto</div></div>
            <div class="div-input-contact">
                <select class="input-contact input-form select-credit" name="tauxMoto"/>
                    {% set first = true %}
                    {% set objFirst = "" %}
                    {% for taux in pretMoto.taux %}
                      {% if first %}
                        {% set objFirst = taux %}
                        {% set first = false %}
                        {% endif %}
                        <option value="{{taux.taux}}">{{taux.nom}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="credit-form credit-vehicule-form credit-form-sup" style="display: none">
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.acompte)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.acompte)}}</div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.marque)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.marque)}}</div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.modele)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.modele)}}</div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.type_vendeur)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.type_vendeur)}}</div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.nom_vendeur)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.nom_vendeur)}}</div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.date_premiere_circulation)}}</div></div>
            <div class="div-input-contact date-select">{{form_widget(form.date_premiere_circulation)}}</div>
        </div>

        <div class="credit-form credit-mobilite-form" style="display: none">
            <div class="div-demande-form txt-black div-center-demande-pret">
                Crédit mobilité
            </div>
 
        </div>

        <div class="credit-form credit-travaux-form" style="display: none">
            <div class="div-demande-form txt-black div-center-demande-pret">
                Crédit travaux
            </div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">Type de prêt travaux</div></div>
            <div class="div-input-contact">
                <select class="input-contact input-form select-credit" name="tauxTravaux"/>
                    {% set first = true %}
                    {% set objFirst = "" %}
                    {% for taux in pretTravaux.taux %}
                      {% if first %}
                        {% set objFirst = taux %}
                        {% set first = false %}
                        {% endif %}
                        <option value="{{taux.taux}}">{{taux.nom}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="div-demande-form txt-black div-center-demande-pret">
            Identité
        </div>
        
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.titre)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.titre)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.nom)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.nom)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.prenom)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.prenom)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.date_naissance)}}</div></div>
        <div class="div-input-contact date-select">{{form_widget(form.date_naissance)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.ville_naissance)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.ville_naissance)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.pays_naissance)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.pays_naissance)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.registre_national_belge)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.registre_national_belge)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.numero_carte_identite)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.numero_carte_identite)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.numero_attestation_enregistrement)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.numero_attestation_enregistrement)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.pays_carte_identite)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.pays_carte_identite)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.validite_carte_identite)}}</div></div>
        <div class="div-input-contact date-select">{{form_widget(form.validite_carte_identite)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.etat_civil)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.etat_civil)}}</div>
        <div class="div-mariee" style="display:none;">
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.date_naissance_mariee)}}</div></div>
            <div class="div-input-contact date-select">{{form_widget(form.date_naissance_mariee)}}</div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.nom_mariee)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.nom_mariee)}}</div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.prenom_mariee)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.prenom_mariee)}}</div>
            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.registre_national_mariee)}}</div></div>
            <div class="div-input-contact">{{form_widget(form.registre_national_mariee)}}</div>
        </div>

        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.annee_belgique)}}</div></div>
        <div class="div-input-contact date-select">{{form_widget(form.annee_belgique)}}</div>
        <div class="div-input-contact">
       
            <ul class="personne_charge" data-index="{{ form.personne_charge|length > 0 ? form.personne_charge|last.vars.name + 1 : 0 }}" data-prototype='{% include 'front/personne_charge.html.twig' with { 'item': form.personne_charge.vars.prototype } %}'>
            	{% for key,item in form.personne_charge %}
                		<li class="element-input  darken-1 card-panel" id="{{ key  }}">
                     <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.enfant)}}</div></div>
                    <div class="div-input-contact">{{form_widget(item.enfant)}}</div>
                    <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.age)}}</div></div>
                    <div class="div-input-contact date-select">{{form_widget(item.age)}}</div>
                    </li>

                {% endfor %}
            </ul>
            <div class="btn-pret" style="width: 200px; height: 40px;   margin: auto;    display: flex;">
                 <a class="add_item_link link-pret" style="text-align: center;"  data-collection-holder-class="personne_charge">
                     <p class="demande-pret montserrat-medium-white-14px">Ajouter une personne a charge</p>
                 </a>
            </div>
            <!-- <button type="button" class="add_item_link" data-collection-holder-class="personne_charge">Ajouter une personne a charge</button>-->
        </div>
        <div class="div-demande-form txt-black div-center-demande-pret">
            Adresse
        </div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.habitation)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.habitation)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.nom_rue)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.nom_rue)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.numero_rue)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.numero_rue)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.boite)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.boite)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.code_postal)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.code_postal)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.ville_residence)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.ville_residence)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.pays_residence)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.pays_residence)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.date_adresse)}}</div></div>
        <div class="div-input-contact date-select">{{form_widget(form.date_adresse)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.tel)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.tel)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.telephone_mobile)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.telephone_mobile)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.mail)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.mail)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.numero_compte)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.numero_compte)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.date_compte)}}</div></div>
        <div class="div-input-contact date-select">{{form_widget(form.date_compte)}}</div>
           <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.assurance_vie)}}</div></div>
        <div class="div-input-contact date-select">{{form_widget(form.assurance_vie)}}</div>
        
        <div class="div-demande-form txt-black div-center-demande-pret">
            Profession
        </div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.type_emploi)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.type_emploi)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.emploi)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.emploi)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.secteur)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.secteur)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.temps_contrat)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.temps_contrat)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.type_contrat)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.type_contrat)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.date_contrat)}}</div></div>
        <div class="div-input-contact date-select">{{form_widget(form.date_contrat)}}</div>
        
        
        <div class="div-demande-form txt-black div-center-demande-pret">
            Employeur
        </div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.nom_employeur)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.nom_employeur)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.tel_employeur)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.tel_employeur)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.nom_rue_employeur)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.nom_rue_employeur)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.numero_rue_employeur)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.numero_rue_employeur)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.code_postal_employeur)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.code_postal_employeur)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.ville_employeur)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.ville_employeur)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.pays_employeur)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.pays_employeur)}}</div>
        
        
        <div class="div-demande-form txt-black div-center-demande-pret">
            Revenu
        </div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.salaire)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.salaire)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.pension_alimentaire)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.pension_alimentaire)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.invalidite)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.invalidite)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.allocation)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.allocation)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.pension)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.pension)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.mutuelle)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.mutuelle)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.chomage)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.chomage)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.handicap)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.handicap)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.revenu_locatif)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.revenu_locatif)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.cheque_repas)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.cheque_repas)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.voiture_societe)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.voiture_societe)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.autres_revenus)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.autres_revenus)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.description_autres_revenus)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.description_autres_revenus)}}</div>
        
        
        <div class="div-demande-form txt-black div-center-demande-pret">
            Charges
        </div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.loyer)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.loyer)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.pension_alimentaire_payer)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.pension_alimentaire_payer)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.autres_charges)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.autres_charges)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.description_autres_charges)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.description_autres_charges)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.nombre_enfants)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.nombre_enfants)}}</div>
        
        
        <div class="div-demande-form txt-black div-center-demande-pret" style="width: 100%;">
            Crédits en cours
        </div>
        
           <ul class="credit_cours" data-index="{{ form.credit_cours|length > 0 ? form.credit_cours|last.vars.name + 1 : 0 }}" data-prototype='{% include 'front/credit_cours.html.twig' with { 'item': form.credit_cours.vars.prototype } %}'>
            	{% for key,item in form.credit_cours %}
                		<li class="element-input  darken-1 card-panel" id="{{ key  }}">
                                        
                            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.type_credit)}}</div></div>
                            <div class="div-input-contact">{{form_widget(item.type_credit)}}</div>
                            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.org_pret)}}</div></div>
                            <div class="div-input-contact">{{form_widget(item.org_pret)}}</div>
                            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.montant)}}</div></div>
                            <div class="div-input-contact">{{form_widget(item.montant)}}</div>
                            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.montant_achat)}}</div></div>
                            <div class="div-input-contact">{{form_widget(item.montant_achat)}}</div>
                            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.duree_credit)}}</div></div>
                            <div class="div-input-contact">{{form_widget(item.duree_credit)}}</div>
                            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.taux)}}</div></div>
                            <div class="div-input-contact">{{form_widget(item.taux)}}</div>
                            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.montant_echeance)}}</div></div>
                            <div class="div-input-contact">{{form_widget(item.montant_echeance)}}</div>
                            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.date_debut)}}</div></div>
                            <div class="div-input-contact date-select">{{form_widget(item.date_debut)}}</div>
                            <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.solde)}}</div></div>
                            <div class="div-input-contact">{{form_widget(item.solde)}}</div>
                    </li>

                {% endfor %}
            </ul>
            <div class="input-title-contact" style="color: grey;font-size: 13px;text-align: justify;float:left;width: 100%;">
            <div class="btn-pret" style="width: 200px; height: 40px;   margin: auto;    display: flex;">
                 <a class="add_item_link link-pret" style="text-align: center;" data-collection-holder-class="credit_cours">
                     <p class="demande-pret montserrat-medium-white-14px">Ajouter un credit en cours</p>
                 </a>
            </div>
            </div>
        

       

        {{ form_widget(form._token) }}
        <div class="input-title-contact" style="color: grey;font-size: 13px;text-align: justify">
            <div style="width: 100%!important;float: left;padding-top: 40px;padding-bottom: 100px;height: auto;text-align: center;">            
                {{form_widget(form.Envoyer)}}
            </div>
        </div>
 <div class="input-title-contact" style="color: grey;font-size: 13px;text-align: justify">
            <div style="width: 100%!important;float: left;padding-top: 40px;padding-bottom: 100px;height: auto;text-align: center;">            
                <input type="submit" id="demande_final" name="final" class="demande-pret montserrat-medium-white-14px btn" style="background-color: orange; border: none; border-radius: 10px;" value="FINALISER MA DEMANDE"></inpu>
            </div>
        </div>
    
    {{ form_end(form,{render_rest: false}) }}
    </div>
    
    <style>
        .big-text-area{
            height: 120px!important;
        }
        .input-title-contact{
            width: 35%;
            text-align: left;
            margin: auto;
            margin-bottom: 5px;
        }
        .input-contact{
            width: 35%;
            border-color: var(--black);
            margin-bottom: 15px;
            height: 40px;
        }
        .div-input-contact{
            width: 100%;
            float: left;
            text-align: center;
        }
        .input-form::placeholder{
            color: grey;
        }
        .form-inline{
            margin: auto;
        }
    </style>
    <script type="text/javascript">
    $( document ).ready(function() {
        select = $(".div-type-cred option:selected");
        type = select.html();
       if(type == "PRÊT PERSO"){
            $('.credit-perso-form').show();
            $('.credit-perso-form input').val('');
            $('.credit-perso-form select').val('');
        }
        else if(type == "PRÊT AUTO"){
            $('.credit-auto-form').show();
            $('.credit-auto-form input').val('');
            $('.credit-auto-form select').val('');
        }
        else if(type == "PRÊT MOTO"){
            $('.credit-moto-form').show();
            $('.credit-moto-form input').val('');
            $('.credit-moto-form select').val('');
        }
        else if(type == "PRÊT MOBILITÉ"){
            $('.credit-mobilite-form').show();
            $('.credit-mobilite-form input').val('');
            $('.credit-mobilite-form select').val('');
        }
        else if(type == "PRÊT TRAVAUX"){
            $('.credit-travaux-form').show();
            $('.credit-travaux-form input').val('');
            $('.credit-travaux-form select').val('');
        }
        if(type == "PRÊT AUTO" || type == "PRÊT MOTO"){
            $('.credit-vehicule-form').show();
            $('.credit-vehicule-form input').val('');
            $('.credit-vehicule-form select').val('');
        }
        $("select#demande_etat_civil").change(function() {
         if($(this).val()=="Marié"){
            $('.div-mariee').show();

         }else{
            $('.div-mariee').hide();
            $('.div-mariee input').val('');
            $('.div-mariee select').val('');

         }
       });
    });


    </script>
{% endblock %}