{% extends 'front/base-front.html.twig' %}
{% block body %}
    <div class="txt-black" style="width: 100%;float: left;color: var(--nevada);">
    {{ form_start(form) }}
        <div class="div-centre-titre"> 
           <h1 class="titre-part montserrat-bold-white-32px animate-enter" style="color: var(--nevada)">
               Demande de prêt
           </h1>
        </div>
      


    <div class="div-lightgrey">
        <div class="txt-black div-center-demande-pret" style="color: var(--nevada)">
            Coordonnées
        </div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.prenom)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.prenom)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.nom)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.nom)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.societe)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.societe)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.mail)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.mail)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.tel)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.tel)}}</div>
        <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(form.info_comp)}}</div></div>
        <div class="div-input-contact">{{form_widget(form.info_comp)}}</div>
        
        <div class="div-input-contact">
            <div class="input-title-contact" style="color: grey;font-size: 13px;text-align: justify">
                <div style="width: 5%;float: left">{{form_widget(form.RGPD)}}</div>
                <div style="width: 80%;float: left;line-height: 1.4">En soumettant ce formulaire, j'accepte que les informations saisies soient acceptées dans le cadre de ma demande et de la relation commerciale qui 
                    peut en découler. Les données personnelles collectées sont uniquement destinées à un usage interne chez Espace Crédits, en conformité avec la législation
                     sur la protection des données. En aucun cas ces données ne seront cédées ou vendues à des tiers.<br>Pour plus d'informations, <a href="" style="font-weight: bold">cliquez-ici</a>.
                </div>
                <div style="width: 100%!important;float: left;padding-top: 40px;padding-bottom: 100px;height: auto;text-align: center;">            
                    {{form_widget(form.Envoyer)}}
                </div>
            </div>
        </div>
    {{ form_end(form) }}
    </div>

    <div class="txt-black div-emprunte-argent">
                Attention : emprunter de l'argent coûte aussi de l'argent
    </div>
        
    <style>
        #demande_pret_Envoyer{
            border: none;
            background-color: orange;
        }
        .big-text-area{
            height: 120px!important;
        }
        .td-contact{
            width: 58%;
        }
        .input-title-contact{
            width: 35%;
            text-align: left;
            margin: auto;
            margin-bottom: 5px;
        }
        .input-label-contact{
    width: 100%;
    text-align: right;
    margin-right: 65%!important;
    margin: auto;
    margin-bottom: 5px;
        }
        /*
*/
        .input-contact{
            width: 35%;
            border-color: var(--black);
            margin-bottom: 15px;
            height: 40px;
        }
        .div-input-contact{
            width: 100%;
            float: left;
            text-align: center;
        }
        .input-form::placeholder{
            color: grey;
        }
        .div-center-demande-pret{
            width: 60%;
            margin: auto;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    </style>
{% endblock %}