{% extends "front/base-front.html.twig" %}
{% block title %}{{title}}{% endblock %}
{% block description %}{{description}}{% endblock %}
{% block body %}
<section class="pret regroup-div">
  <div class="container-pret">
    <div class="presentation-pret" style="background-image:url({{asset('assets/front/img/image@1x.png')}});background-size: cover">
      <div class="div-presentation">
        <div class="div-marg-taux">
          <div class="div-titre-taux">
            <h1 class="titre-taux">Les meilleurs <br>taux du marché</h1>
          </div>
          <div class="div-sous-titre-taux">
            <h1 class="sous-titre-taux montserrat-light-web-orange-30px">Votre courtier en Belgique <br>et au Luxembourg</h1>
          </div>
          <div class="div-btn-t-dec">
              <div class="btn-pret taux-menu" style="width: 200px">
                      <a href="{{ path('credits') }}" class="link-pret">
                          <p class="demande-pret montserrat-medium-white-14px "> DÉCOUVRIR NOS TAUX</p>
                      </a>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% if modal  %}
<div class="modal-outside">
<div class="modal  fade" >
<h1 class="titre-part montserrat-bold-white-32px animate-enter" style="color: var(--nevada)">
               Votre demande a était prise en compte .
</h1>
<div class=" slide-in-left txt-black" style="font-size: 14px;padding-left: 5%;">
        Votre demande a bien été prise en compte.<br/> Nous venons de vous envoyer un mail afin de finaliser votre demande de prêt.<br/> N’hésitez pas à consulter votre messagerie et vos courriers indésirables. Merci !
      </div>
</div>
</div>
{% endif %}
 <div class="form-pret">
   <div class="div-form-pret">
        <div class="div-titre-form">
          <h1 class="titre-form animate-enter1">
              Simulez votre crédit </h1>
        </div>
        
        <div class="inputs label-form montserrat-medium-white-14px" style="width: 99%;">
          <div style="width: 99%;float: left">Types de prêt</div>
          <div class="div-input-preview" style="width: 99%;float: left"><select class="input-form select-credit txt-low-weight-white"/>
          {% set first = true %}
              {% set objFirst = "" %}
              {% for i , objet in objets %}
                {% if first %}
                    {% set objFirst = objet %}
                    {% set first = false %}
                {% endif %}
                  <option class="txt-low-weight-white" value="{% if (repo.findMinTaeg(objet.id)) %} {{repo.findMinTaeg(objet.id)}} {% else %} {{objet.taux}} {% endif %}" data="{{objet.nom}}" data-mintaeg="{{repo.findMinTaeg(objet.id)}}" data-credit="{{objet.id}}">{{objet.credit.nom}}{% if objet.nom != "" %} - {{objet.nom}}{% endif %}</option>

              {% endfor %}
              </select>
          </div>
          <div style="width: 99%;float: left">Montant <span style="font-weight: 100;" class="span-euro">- euro</span></div>
          <div class="div-input-preview" style="width: 99%;float: left"><input class="input-form montant-form txt-low-weight-white" placeholder="Entez un montant" value="12000"/></div>
          <div style="width: 99%;float: left">Durée <span style="font-weight: 100;" class="span-mois">- mois</span></div>
          <div class="div-input-preview" style="width: 99%;float: left"><!--<input class="input-form duree-form txt-low-weight-white" placeholder="Sélectionnez une durée" value="60"/>-->
            <select class="input-form duree-form txt-low-weight-white">
              <option value="24">24</option>
              <option value="30">30</option>
              <option value="36">36</option>
              <option value="42">42</option>
              <option value="48">48</option>
              <option value="60">60</option>
              <option value="72">72</option>
              <option value="84">84</option>
              <option value="96">96</option>
              <option value="108">108</option>
              <option value="120">120</option>
            </select> 
          </div>
          <div style="width: 99%;float: left" class="error-div"> </div>
        </div>

        <div class="txt-black big-number-orange big-num-orange" style="width: 100%;float: left;padding-top: 10px;padding-bottom: 5px">
        <div class="label-form  montserrat-medium-white-14px" style="width: 99%;float: left;">Mensualités</div>526<span class="litle-num-orange" style="font-size: 25px">,23</span>€</div>
        <div class="desc-div" style="line-height: 1.5;">
            <div class="txt-black txt-low-weight-white">Total à rembourser: <span class="numbers-right montant-form montant-info">14.000€</span></div>
            <div class="txt-black txt-low-weight-white">Intérêts à payer: <span class="numbers-right interet-info">2.330€</span></div>
            <div class="txt-black txt-low-weight-white">TAEG: <span data="{% if (repo.findMinTaeg(objFirst.id)) %} {{repo.findMinTaeg(objFirst.id)}} {% else %} {{objFirst.taux}}{% endif %}" dataclass="{{objFirst.nom}}" class="numbers-right taux-info">{% if (repo.findMinTaeg(objFirst.id)) %} {{repo.findMinTaeg(objFirst.id)}}{% else %} {{objFirst.taux}}{% endif %}%*</span></div>
            <div class="txt-black txt-low-weight-white">Durée: <span class="numbers-right duree-info">60 mois</span></div>
            <div class="txt-black txt-low-weight-white">Durée Max: <span class="numbers-right duree-info-max">60 mois</span></div>
        </div>
        <div class="div-btn-cred demandecred" style="margin-bottom: 40px;margin-top: 40px">
            <div class="btn-pret" style="width: 200px;">
                 <a href="{{ path('demandePret') }}" class="link-pret">
                     <p class="demande-pret montserrat-medium-white-14px">DEMANDE DE CRÉDIT</p>
                 </a>
            </div>
        </div>
        <div class="typo" style="color: var(--white)">
            *Taux préférentiel sous réserve d'acceptation du dossier par la société de crédit.
        </div>
   </div>
</div>
</section>

<div class="txt-black txt-low-weight-black div-lightgrey" style="width: 100%;">
    <div class="div-centre-titre"> 
           <h1 class="titre-part montserrat-bold-white-32px animate-enter" style="color: var(--nevada)">
               Nos courtiers concrétisent vos rêves !
           </h1>
    </div>
    <div class="ligne-yellow"></div>
    <div class="div-lightgrey div-mob-100 " style="width: 50%;min-height: 500px;padding-left: 10%">
      <div class="div-top-ul txt-black" style="padding-top: 50px;padding-right: 5%;padding-bottom: 5%">
        Vous avez des projets personnels à financer ?<br>Les courtiers d'Espace Crédits sont à vos côtés !
      </div>
      <div class="div-bottom-ul">
        Qu'il s'agisse de travaux, de l'achat d'un véhicule, d'un mariage, d'une naissance
         ou bien de vacances, Espace Crédits vous aide pour le financement de vos projets de vie.<br><br>
        Vous êtes domicilié en Belgique ou au Luxembourg, profitez de nos crédits à taux très avantageux.
      </div>
      <div class="div-btn-cred offrepret home-btn-pret" style="margin-top: 30px;margin-left: 10%;">
          <div class="btn-pret" style="width: 200px;">
              <a href="{{ path('credits') }}" class="link-pret"><p class="demande-pret montserrat-medium-white-14px">NOS OFFRES DE PRÊT</p></a>
          </div>
      </div>
    </div>
        
    <div class="div-lightgrey div-img-home" style="min-height: 350px;background-image:url({{asset('assets/front/img/image-4@1x.png')}});background-position: 0% 35%;background-size: 500px;background-repeat: no-repeat;width: 50%;">
  
    </div>

    
</div>

<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>


<div class="div-lightgrey" style="width: 100%;min-height: 500px;background-color: var(--nevada);color: white">
  <div class="div-centre-titre"> 
      <h1 class="titre-part titre-part-cred montserrat-bold-white-32px animate-enter" style="color: white">
          Des taux avantageux pour tous vos crédits
      </h1>
  </div>
  <div class="ligne-yellow"></div>
  <div class="txt-low-weight-black txt-part-cred" style="text-align: center;padding-bottom: 30px">Grâce à une diversité de partenaires de confiance, nous sommes en mesure de vous proposer<br>
   des crédits à des taux défiants toute concurrence.</div>
  <div class="slider slider-credits">
   {% for i , credit in credits %}
    <div class="slide" style="width: 5%">
        <p class="montserrat-bold-nevada-20px title-credits" style="text-align:center">   {{credit.nom}} </p>
        <div class="div-slide-button-align">
          <div class="taeg montserrat-bold-web-orange-20px">
          {% for i , taux in credit.taux %}
              <div>{% if taux.nom %}<span class="montserrat-light-web-orange-16px taeg-name" style="font-size: 12px!important;">({{taux.nom}}) </span> {% endif %}</br><span class="montserrat-medium-web-orange-20px">TAEG àpd</span><span class="montserrat-bold-web-orange-20px-2">&nbsp;</span><span class="montserrat-bold-web-orange-46px">{{taux.taux}}%</span><span class="montserrat-bold-web-orange-46px">*</span></div>
          {% endfor %}
          </div>
          <p class="surname montserrat-light-tundora-16px">
              {{credit.description}}
          </p>
        </div>
        <div class="div-dec-btn offrepretslide">
            <div class="btn-pret">
                <a href="{{ path(credit.slug) }}" class="link-pret">
                    <p class="demande-pret montserrat-medium-white-14px">NOS OFFRES DE PRÊT</p>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}



  </div>
  <div class="div-dot">
    <span class="dot dot-active"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>      
    <span class="dot"></span>
    <span class="dot"></span>   
  </div>
  <div class="cred-typo typo" style="text-align: right;color: white;padding-right: 30px;padding-bottom: 20px;padding-top: 80px">
      *Taux préférenciel, sous réserve d'acceptation du dossier par la société de crédit.
  </div>
</div>

<script type="text/javascript">
    $('.slider').slick({
        dots: false,
        vertical: false,
        infinite: true,
        speed: 500,
        slidesToShow: 5,
        slidesToScroll: 3,
        autoplay: true,
        autoplaySpeed: 2000,
        responsive: [
            {
              breakpoint: 1500,
              settings: {
                
                slidesToShow: 4,
                slidesToScroll: 3
              }
            },
            {
              breakpoint: 1250,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3
              }
            },
            {
              breakpoint: 925,
              settings: {
                slidesToShow:2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 620,
              settings: {
                dots: true,
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
        ]
    });

</script>

<div class="div-partenaire-conf" style="float: left;background-image:url({{asset('assets/front/img/image-21-1@1x.png')}});">
  <div class="div-right-opacity" style="width: 70%;float: right;background-color:rgba(255,255,255,.7);padding-bottom: 1%">
    <div style="padding-left: 10%"> 
      <h1 class="titre-part montserrat-bold-white-32px animate-enter" style="text-align: left;color: var(--black)">
      Votre partenaire de confiance
      </h1>
    </div>
    <div class="ligne-yellow" style="margin-left: 10%"></div>
    <div class="div-top-ul txt-black" style="padding-top: 20px;padding-right: 5%;padding-bottom: 3%;">
      Notre priorité : proposer aux clients une prise en charge personnalisée et des solutions adaptées.
    </div>
    <div class="div-bottom-ul txt-low-weight-black" style="padding-top: 0;width: 95%">
      Fort de notre expérience dans le domaine financier, nous sommes en mesure de vous proposer les meilleurs
       crédits pour que vous puissiez financer vos projets et vos rêves.
    </div>
    <div class="div-btn-cred philosophiebtn" style="margin-top: 20px;margin-left: 10%;width: 200px!important;float: left">
      <a href="{{ path('philosophie') }}">
      <div class="btn-pret btn-home-pret-special" style="width: 100%">
          <div class="link-pret"><p class="demande-pret montserrat-medium-white-14px">NOTRE PHILOSOPHIE</p></div>
      </div>
      </a>
    </div>
    <div class="div-btn-cred contacthome" style="margin-top: 20px;margin-left: 1%;width: 200px!important;float: left">
      <a href="{{ path('contact') }}">
      <div class="btn-pret btn-home-pret-special" style="width: 100%;background-color: white;border: 1px solid orange;">
        <div class="link-pret"><p class="demande-pret montserrat-medium-white-14px" style="color: var(--black)">NOUS CONTACTER</p></div>
      </div>
      </a>
    </div>
  </div>
</div>

<!--
<div style="width: 100%;float: left">
 <div class="div-right-opacity" style="width: 50%;float: right;background-color: white;opacity: 0.7;margin-top: 2%;padding-bottom: 2%">
    <div style="padding-left: 10%"> 
      <h1 class="titre-part montserrat-bold-white-32px animate-enter" style="text-align: left;color: var(--black)">
      Votre partenaire de confiance
      </h1>
    </div>
    <div class="ligne-yellow" style="margin-left: 10%"></div>
    <div class="div-top-ul txt-black" style="padding-top: 20px;padding-right: 5%;padding-bottom: 5%">
      Notre priorité: proposer aux clients une prise en charge personnalisée et des solutions adaptées.
    </div>
    <div class="div-bottom-ul txt-low-weight-black" style="padding-top: 0">
      Fort de notre expérience dans le domaine financier, nous sommes en mesure de vous proposer les meilleurs
       crédits pour que vous puissiez financer vos projets et vos rêves.
    </div>
    <div class="div-btn-cred philosophiebtn" style="margin-top: 50px;margin-left: 10%;width: 30%!important;float: left">
      <a href="{{ path('philosophie') }}">
      <div class="btn-pret" style="width: 100%">
          <div class="link-pret"><p class="demande-pret montserrat-medium-white-14px">NOTRE PHILOSOPHIE</p></div>
      </div>
      </a>
    </div>
    <div class="div-btn-cred contacthome" style="margin-top: 50px;margin-left: 1%;width: 30%!important;float: left">
      <a href="{{ path('contact') }}">
      <div class="btn-pret" style="width: 100%;background-color: white;border: 1px solid orange;">
        <div class="link-pret"><p class="demande-pret montserrat-medium-white-14px" style="color: var(--black)">NOUS CONTACTER</p></div>
      </div>
      </a>
    </div>
  </div>
  <img src="assets/front/img/image-21-1@1x.png" style="width: 100%">
</div>
-->

<!--<div class="accroche" style="background-image:url({{asset('assets/front/img/groupe-de-masques-4.png')}});">
  <div class="overlap-group">
    <h1 class="text-2">
      <span class="span0">Les meilleurs <br>taux du marché</span><span class="span1">&nbsp;</span><span class="montserrat-light-web-orange-30px"></span>
    </h1>
    <div class="text-1 montserrat-light-web-orange-30px">
      Votre courtier en Belgique <br>et au Luxembourg
    </div>
    <div class="composant-15-1">
      <div class="overlap-group1">
        <div class="rectangle-6"></div>
        <div class="dcouvrir-nos-taux montserrat-medium-white-14px">
          DÉCOUVRIR NOS TAUX
        </div>
      </div>
    </div>
  </div>
</div>
<div class="simulationdepret" data-id="8c062b71-32d0-42ab-9ac6-9274893ea66e">
  
  <div class="overlap-group" data-id="an|iTUeF769">
  <div class="text-5 montserrat-bold-white-32px" data-id="2bff346e-ba5f-42db-b48c-27de54e2337b">
    Simulez votre crédit
  </div>
  <div class="type-de-prt" data-id="9a783861-417d-4787-9bff-5bc935f7492d">
    <div class="types-de-prt montserrat-medium-white-14px" data-id="43152a60-db41-4a4f-8724-5af34cf79570">
      Types de prêt
    </div>
    <div class="overlap-group4" data-id="an|EhqnV6Xp">
      <div class="rectangle-7 border-1px-white" data-id="323e3dc1-7aed-48f0-9726-c29e289031ad"></div>
      <img
        class="down"
        data-id="d4c9ef68-cc9a-4292-8d46-5eeeee482487"
        src="https://anima-uploads.s3.amazonaws.com/projects/60d053234da36ffc696aa4ed/releases/60d053312db904d587e4611a/img/trac--354@1x.png"
      />
      <div class="prt-perso montserrat-light-white-12px" data-id="35b6e3a8-88d3-4b19-ae1f-ed1799cf9954">Prêt perso</div>
    </div>
  </div>
  <div class="flex-row" data-id="an|HHUHqD6U">
    <div class="montant" data-id="ee140758-5630-46d7-a607-c2bab513c89f">
      <div class="montant-1 montserrat-medium-white-14px" data-id="a3100c1f-af89-4d2d-a300-c11801c77ac1">Montant</div>
      <div class="overlap-group3" data-id="an|JpAqKWU0">
        <div class="rectangle-8 border-1px-white" data-id="e97b002c-12a1-4eb6-ab9b-84e592b51661"></div>
        <div class="entrez-un-montant montserrat-light-white-12px" data-id="2dec136d-cfa4-47e7-9f8d-ac9e813bb58e">
          Entrez un montant
        </div>
      </div>
    </div>
    <div class="dure" data-id="1fb8a811-d555-4b6a-8ff2-fe9b0312e403">
      <div class="dure-1 montserrat-medium-white-14px" data-id="3ec3f347-f0ee-4f4c-b71e-b69bece6c2b9">Durée</div>
      <div class="overlap-group2" data-id="an|0S5EplkG">
        <div class="rectangle-9 border-1px-white" data-id="1846a0d7-c004-4f05-b525-95e2243efc16"></div>
        <div class="text-4 montserrat-light-white-12px" data-id="ffa668bf-b163-4281-9858-9115947aa24e">
          Sélectionnez une durée
        </div>
      </div>
    </div>
  </div>
    <div class="mensualits montserrat-medium-white-14px" data-id="3958ea46-b4fc-4177-82db-46ece5cffc82">Mensualités</div>

    <div class="dure-60-mois montserrat-bold-white-14px" data-id="d52bf78b-15e4-4055-9d81-cfcc879705ab">
      <span class="montserrat-light-white-14px">Durée :</span><span class="montserrat-light-white-10px">&nbsp;</span
      ><span class="montserrat-bold-white-18px">60 mois</span>
    </div>
    <div class="taeg-595 montserrat-bold-white-14px" data-id="48f36c4e-be29-4792-8125-384a2595282e">
      <span class="montserrat-light-white-14px">TAEG :</span><span class="montserrat-light-white-10px">&nbsp;</span
      ><span class="montserrat-bold-white-18px">5,95%*</span>
    </div>
    <p class="text-2 montserrat-bold-white-14px" data-id="574edf53-804a-4a2c-999a-41f3f71e9627">
      <span class="montserrat-light-white-14px">Intérêts à payer :</span
      ><span class="montserrat-light-white-10px">&nbsp;</span><span class="montserrat-bold-white-18px">2.330€</span>
    </p>
    <p class="text-3 montserrat-bold-white-14px" data-id="7f8c2210-922c-46e2-a5ad-9a004c4b9120">
      <span class="montserrat-light-white-14px">Total à rembourser : </span
      ><span class="montserrat-bold-white-18px">14.000€</span>
    </p>
    <h1 class="price" data-id="a9dacee6-7546-4302-a45b-126c77b8c3ee">
      <span class="montserrat-bold-web-orange-36px">526</span><span class="span1">,23</span
      ><span class="montserrat-bold-web-orange-36px">€</span>
    </h1>
  </div>
  <div class="c2-a-demande-de-credit" data-id="e8046bd4-98cb-4085-ba71-9fc1c1cd66e6">
    <div class="overlap-group1" data-id="an|ZZj8GmeP">
      <img
        class="trac-94"
        data-id="0950133d-e61d-4ac9-a730-bb2a4fe2f90b"
        src="https://anima-uploads.s3.amazonaws.com/projects/60d053234da36ffc696aa4ed/releases/60d053312db904d587e4611a/img/trac--94@1x.png"
      />
      <div class="demande-de-crdit montserrat-medium-white-14px" data-id="2fecb4d6-7336-495c-b729-ba0297ed1d54">
        DEMANDE DE CRÉDIT
      </div>
    </div>
  </div>
  <p class="text-1 montserrat-light-white-10px" data-id="d3c0a9c1-8c90-462b-9b75-b280db17a7e6">
    *Taux préférentiel, sous réserve d’acceptation du dossier par la société de crédit.
  </p>
</div>
    <script>
      var overlay_id = "overlay-00-menu-tablet";
      document.getElementById(overlay_id).addEventListener(
        "click",
        function (event) {
          var overlay_id = "overlay-00-menu-tablet";
          var e = event || window.event;
          var overlayElement = document.getElementById(overlay_id);
          var overlayContainer = overlayElement.getElementsByClassName("00-menu-tablet");
          var clickedDiv = e.toElement || e.target;
          var dismissButton = clickedDiv.parentElement.id == overlay_id;
          var clickOutsideOverlay = false;
          if (overlayContainer.length > 0) {
            clickOutsideOverlay = !overlayContainer[0].contains(clickedDiv) || overlayContainer[0] == clickedDiv;
          }
          if (dismissButton || clickOutsideOverlay) {
            HideOverlay("00-menu-tablet", "animate-disappear");
          }
        },
        false
      );
    </script>
    <script>
      ShowOverlay = function (overlayName, animationName) {
        overlayName = "overlay-" + overlayName;
        var cssClasses = document.getElementById(overlayName).className.split(" ");
        var last = cssClasses.slice(-1)[0];
        if (last.lastIndexOf("animate") == -1) {
          document.getElementById(overlayName).className =
            document.getElementById(overlayName).className + " " + animationName;
        }
        if (window.loadAsyncSrc != undefined) {
          loadAsyncSrc();
        }
      };
      HideOverlay = function (overlayName, animationName) {
        overlayName = "overlay-" + overlayName;
        var cssClasses = document.getElementById(overlayName).className.split(" ");
        var last = cssClasses.slice(-1)[0];
        if (last.lastIndexOf("animate") != -1) {
          cssClasses.splice(-1);
          cssClasses.push(animationName);
          document.getElementById(overlayName).className = cssClasses.join(" ");

          cssClasses.splice(-1);
          setTimeout(function () {
            document.getElementById(overlayName).className = cssClasses.join(" ");
          }, 1100);
        }
        var vids = document.getElementsByTagName("video");
        if (vids) {
          for (var i = 0; i < vids.length; i++) {
            var video = vids.item(i);
            video.pause();
          }
        }
      };
    </script>
    <script>
      function ShowOnScroll() {
        this.toShow = [];
        this.nextEventY = undefined;
      }

      ShowOnScroll.prototype.show = function (e) {
        e.style.display = "";
      };

      ShowOnScroll.prototype.hide = function (e) {
        e.style.display = "none";
      };

      ShowOnScroll.prototype.getTop = function (e) {
        if (e.Top != undefined && e.Top != 0) {
          return e.Top;
        }
        var top = 0;
        var iter = e;
        do {
          top += iter.offsetTop || 0;
          iter = iter.offsetParent;
        } while (iter);
        e.Top = top;
        return top;
      };

      ShowOnScroll.prototype.onScroll = function () {
        var screenBottom = window.pageYOffset + window.innerHeight;
        if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
          return;
        }
        this.nextEventY = undefined;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            this.show(e);
            this.toShow.shift();
            i--;
          } else {
            this.nextEventY = top;
            break;
          }
        }
      };

      ShowOnScroll.prototype.resetScrolling = function () {
        // Clear state
        var screenBottom = window.pageYOffset + window.innerHeight;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          this.show(e);
        }
        this.toShow = [];
        this.nextEventY == undefined;

        // Collect items
        var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
        itemsToShowOnScroll = itemsToShowOnScroll.filter(function (e) {
          return e.getAttribute("show-on-scroll") != undefined;
        });
        var getTop = this.getTop;
        itemsToShowOnScroll.sort(function (a, b) {
          return getTop(a) - getTop(b);
        });
        for (var i = 0; i < itemsToShowOnScroll.length; i++) {
          var e = itemsToShowOnScroll[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            continue;
          }
          this.toShow.push(e);
          this.hide(e);
          this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
        }
      };

      ShowOnScroll.prototype.handleEvent = function (e) {
        switch (e.type) {
          case "scroll":
            this.onScroll();
            break;
          case "resize":
            this.resetScrolling();
            break;
        }
      };

      ShowOnScroll.prototype.init = function () {
        this.resetScrolling();
        window.addEventListener("scroll", this);
        window.addEventListener("resize", this);
      };

      // After anima-src
      setTimeout(function () {
        var instShowOnScroll = new ShowOnScroll();
        instShowOnScroll.init();
      }, 250);
    </script>-->
<div style="width: 100%;float: left;color: var(--nevada)">
    <div class="div-centre-titre"> 
        <h1 class="titre-part montserrat-bold-white-32px animate-enter" style="color: var(--nevada)">
            Nos partenaires pour vos crédits
        </h1>
    </div>
    <div class="ligne-yellow"></div>

    <ul class="partenaires-desktop" style="display: inline-flex;align-items: center;list-style: none;padding-left: 5%">
        <li style="width:25%"><img style="width: 90%;padding-left: 40px;padding-right: 40px;" src="assets/front/img/Elantis-4k.png"></li>
        <li style="width:25%"><img style="width: 90%;padding-left: 40px;padding-right: 40px;" src="assets/front/img/logo_AC.png"></li>
        <li style="width:25%"><img style="width: 90%;padding-left: 40px;padding-right: 40px;" src="assets/front/img/Records-Credits-Logo.webp"></li>
        <li style="width:25%"><img style="width: 90%;padding-left: 40px;padding-right: 40px;" src="assets/front/img/Logo_Cofidis.svg"></li>
    </ul>
    <div class="slider-partenaires" style="float: left;width: 100%;display: none">
      <div><img style="width: 50%;margin: auto" src="assets/front/img/Elantis-4k.png"></div>
      <div><img style="width: 50%;margin: auto" src="assets/front/img/logo_AC.png"></div>
      <div><img style="width: 50%;margin: auto" src="assets/front/img/Records-Credits-Logo.webp"></div>
      <div><img style="width: 50%;margin: auto" src="assets/front/img/Logo_Cofidis.svg"></div>
    </div>
</div>

<script type="text/javascript">
    $('.slider-partenaires').slick({
        dots: true,
        vertical: false,
        infinite: true,
        speed: 500,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        arrows: false
    });

</script>

<div class="txt-black div-emprunte-argent">
    Attention : emprunter de l'argent coûte aussi de l'argent
</div>
<style>
    
    .slider .slide{
      margin-left: 20px;
      margin-right: 20px;
    }
    .slider .slick-arrow{
        background-image: url("assets/front/img/trac--227-1@1x.png");
        background-repeat: no-repeat;
        color: transparent;
        background-color: transparent;
        background-position: center;
        border: none;
        position: absolute;
        z-index: 1000;
        height: 40px;
        width: 75px;
        background-size: 50px;
        margin-top: 70px;
    }
    .slider .slick-prev{
        margin-left: 45%;
        top: 100%;
    }
    .slider .slick-next{
        margin-left: 50%;
        transform: rotate(180deg); 
    }
  </style>
{% endblock %}
