<div class="div-demande-form txt-black div-center-demande-pret">
            Personne a charge n° __qnb__
        </div>
        <div class="delete-btn-prototype">
          <img class="delete-img" data-index="__qnb__" onclick="removePrototype(this)" src="{{asset('assets/front/img/fermer.svg')}}" /> 
        </div>
     <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.enfant)}}</div></div>
                    <div class="div-input-contact">{{form_widget(item.enfant)}}</div>
                    <div class="div-input-contact"><div class="input-title-contact txt-black" style="color: grey;font-size: 15px">{{form_label(item.age)}}</div></div>
                    <div class="div-input-contact date-select">{{form_widget(item.age)}}</div>
