{% extends 'front/base-front.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block description %}{{description}}{% endblock %}
{% block body %}

<div class="img-header-homes" style="min-height: 228px;background-image:url({{asset('assets/front/img/yritystreffit-banneri-somekuva-2@1x.png')}});">
    <div style="background-color: var(--black);min-height: 228px">
        <div style="color: white;padding-top: 50px;padding-left: 50px;" class="titre-taux-black big-titre-taux-black">Notre philosophie</div>
    </div>
</div>

<div style="float: left;width: 100%;min-height: 500px">
    <div class="div-centre-titre"> 
        <h1 class="titre-part montserrat-bold-white-32px animate-enter" style="color: var(--nevada)">
            Espace de crédits : une affaire de famille
        </h1>
    </div>
    <div class="ligne-yellow"></div>
    <div class="div-img" style="min-height: 500px;background-image:url({{asset('assets/front/img/eycucg8xeaeanvn-2@1x.png')}});background-size: 500px;background-position: 100% 10%;">
    </div>
    <div class="div-img" style="min-height: 300px;width: 50%;float: left;">
        <div class="txt-black txt-low-weight-black div-bottom-ul" style="width: 70%">
            <div class="txt-black"> La sérénité grâce à nos conseils.</div><br>
           
            S'engager à vos côtés pour trouver le crédit qui correspond au mieux à vos besoins.<br/><br/>
            Pour chaque projet une solution de crédit adaptée.<br/>
            Habitation, véhicules, projets, prêt personnel, prêt aménagement, prêt mariage, prêt études, prêt moto, prêt vélo.<br/><br/> 
            
            Nous sommes composés de trois personnes, Authelet Pascal, Cedano Miguel et Authelet Émilie<br/><br/>
            
            Nous travaillons en collaboration avec Record et AlphaCredit, Cofidis et Eb Lease.<br/>
            
            C’est d’ailleurs grâce à eux que nous sommes en mesure de vous proposer les meilleurs taux du marché.<br/>

        </div>
    </div>

    <div class="div-btn-cred" style="width: 100%!important;float: left;padding-bottom: 90px;">
            <div class="btn-pret" style="width: 200px;margin: auto">
                <a href="{{ path('contact') }}" class="link-pret"><p class="demande-pret montserrat-medium-white-14px">NOUS RENCONTRER</p></a>
            </div>
    </div>
</div>

<div class="div-lightgrey" style="min-height: 450px;width: 100%">
    <div class="div-centre-titre"> 
        <h1 class="titre-part montserrat-bold-white-32px animate-enter" style="color: var(--nevada)">
            Les forces d'Espace Crédits
        </h1>
    </div>
    <div class="ligne-yellow"></div>

    <div class="div-img" style="min-height: 450px;width: 50%;float: left;padding-left: 10%">
        <div class="txt-black txt-low-weight-black div-bottom-ul" style="width: auto">
            <div class="txt-black">Espace Crédits vous propose des prêts aux<br> meilleurs taux du marché</div><br>
            Parce que chez Espace Crédits nous accordons de l'importance à vos projets, vos envies et vos besoins, 
            nous faisons en sorte de trouver les solutions les plus adaptées à votre situation. Ainsi, nous travaillons
             en collaboration avec des partenaires internationaux, fiables et les plus intéressants financièrement.<br><br>
            C'est d'ailleurs grâce à cette variété d'acteurs que nous sommes en mesure de vous proposer des taux défiant toutes concurrences.
        </div>
    </div>

    <div class="icones-philo div-img" style="min-height: 450px;width: 50%;float: left;">
        
        <ul style="columns: 3;list-style: none;width: 70%;margin: auto" class="ul-philo">
            <li><a href="{{ path('pretPerso') }}"><div><img class="img-philo" src="{{asset('assets/front/img/pret_perso.svg')}}"></div><div style="padding-bottom: 50px" class="titre-bande-header montserrat-bold-dove-gray-12px">PRÊT PERSO</div></a></li>
            <li><a href="{{ path('pretAuto') }}"><div><img class="img-philo" src="{{asset('assets/front/img/pret_auto.svg')}}"></div><div style="padding-bottom: 50px" class="titre-bande-header montserrat-bold-dove-gray-12px">PRÊT AUTO</div></a></li>
            <li><a href="{{ path('pretMoto') }}"><div><img class="img-philo" src="{{asset('assets/front/img/pret_moto.svg')}}"></div><div style="padding-bottom: 50px" class="titre-bande-header montserrat-bold-dove-gray-12px">PRÊT MOTO</div></a></li>
            <li><a href="{{ path('pretMobi') }}"><div><img class="img-philo" src="{{asset('assets/front/img/pret_mobilite.svg')}}"></div><div style="padding-bottom: 50px" class="titre-bande-header montserrat-bold-dove-gray-12px">PRÊT MOBILITÉ</div></a></li>
            <li><a href="{{ path('pretTravaux') }}"><div><img class="img-philo" src="{{asset('assets/front/img/pret_travaux.svg')}}"></div><div style="padding-bottom: 50px" class="titre-bande-header montserrat-bold-dove-gray-12px">PRÊT TRAVAUX</div></a></li>
            <li><a href="{{ path('regroupement') }}"><div><img class="img-philo" src="{{asset('assets/front/img/regroupement.svg')}}"></div><div style="padding-bottom: 50px" class="titre-bande-header montserrat-bold-dove-gray-12px">REGROUPEMENT</div></a></li>
        </ul>
    </div>

</div>

<div class="div-img-philo" style="min-height:350px;width: 100%;float: left;padding-left: 10%;padding-top: 30px">
    <img  style="float: left;padding-top: 40px;padding-left: 10%" src="/assets/front/img/trac--20-10@1x.png">
    <div class="txt-black txt-low-weight-black div-bottom-ul" style="width: 55%;float: left"> 
        <div class="txt-black">Espace Crédits accompagne aussi les entreprises</div><br>
        Vous êtes une entreprise, artisan ou indépendant, Espace Crédits est là pour vous aider
            à monter ou développer votre société, à travers différentes solutions.
        <div class="div-btn-cred btn-sav-plus" style="width: 100%!important;float: left;padding-top: 40px;height: auto;padding-bottom: 20px">
            <div class="btn-pret" style="width: 35%;height: 40px;">
                <a href="{{ path('entreprise') }}" class="link-pret"><p class="demande-pret montserrat-medium-white-14px">EN SAVOIR PLUS</p></a>
            </div>
        </div>
    </div>
    </div>
    
</div>

<style>
    .ul-philo li{
        text-align: center;
        display: flex;
        height: 150px;
        align-items: center;
    }
</style>
{% endblock %}