{% extends 'front/base-front.html.twig' %}
{% block body %}
<div class="left-form">
    <div class="titre-taux-black" style="min-height: auto">Prêt moto</div>
    <div class="txt-black" style="color: orange">Neuf : TAEG à partir de <span class="big-number-orange">1,99%*</span></div>
    <div class="txt-black" style="color: orange">Occasion : TAEG à partir de <span class="big-number-orange">3,59%*</span></div><br><br>
    <div class="txt-black">Financez l'achat de votre moto et prenez la route sans soucis</div><br>
    <div class="txt-black txt-low-weight-black">
        Le prêt moto vous permet de financer votre véhicule neuf ou d'occasion.<br><br>
        Vous remboursez des mensualités fixes, prévues à l'avance sur une durée déterminée.<br><br>
        Ainsi, vous pouvez gérer votre budget sans mauvaise surprise.
    </div>
    <div class="orange-title typo">
        *Taux préférentiel sous réserve d'acceptation du dossier par la société de crédit.
    </div>
</div>

<div class="form-pret">
   <div class="div-form-pret">
        <div class="div-titre-form">
          <h1 class="titre-form animate-enter1">
              Simulez votre crédit</h1>
        </div>

        <div class="inputs label-form montserrat-medium-white-14px" style="width: 100%;">
          <div style="width: 100%;float: left">Votre projet</div>
          <div class="div-input-preview" style="width: 100%;float: left"><select class="input-form select-credit txt-low-weight-white"/>
          {% set first = true %}
                {% set objFirst = "" %}
                {% for taux in pret.taux %}
                {% if first %}
                  {% set objFirst = taux %}
                  {% set first = false %}

              {% endif %}
                    <option value="{{taux.taux}}">{{taux.nom}}</option>
                {% endfor %}
              </select>
          </div>
          <div style="width: 100%;float: left">Montant</div>
          <div class="div-input-preview" style="width: 100%;float: left"><input class="input-form montant-form txt-low-weight-white" placeholder="Entez un montant" value="12000"/></div>
          <div style="width: 100%;float: left">Durée</div>
          <div class="div-input-preview" style="width: 100%;float: left"><input class="input-form duree-form txt-low-weight-white" placeholder="Sélectionnez une durée" value="60"/></div>
        </div>

       
        <div class="txt-black big-number-orange big-num-orange" style="width: 100%;float: left;padding-top: 10px;padding-bottom: 5px">
         <div class="label-form  montserrat-medium-white-14px" style="width: 100%;float: left;">Mensualités</div>526<span class="litle-num-orange" style="font-size: 25px">,23</span>€</div>
        <div class="desc-div" style="line-height: 1.5;">
            <div class="txt-black txt-low-weight-white">Total à rembourser: <span class="numbers-right montant-info">14.000€</span></div>
            <div class="txt-black txt-low-weight-white">Intérêts à payer: <span class="numbers-right interet-info">2.330€</span></div>
            <div class="txt-black txt-low-weight-white">TAEG: <span data="{{objFirst.taux}}" class="numbers-right taux-info">5,95%*</span></div>
            <div class="txt-black txt-low-weight-white">Durée: <span class="numbers-right duree-info">60 mois</span></div>
        </div>
        <div class="div-btn-cred" style="margin-bottom: 40px;margin-top: 40px">
            <div class="btn-pret">
                 <a href="{{ path('demandePret') }}" class="link-pret">
                     <p class="demande-pret montserrat-medium-white-14px">FAIRE UNE DEMANDE</p>
                 </a>
            </div>
        </div>
        <div class="typo" style="color: lightgrey">La simulation réalisée avec l'outil n'est pas considérée <br>comme une offre et/ou une acceptation du crédit.</div>
   </div>
</div>

<div class="txt-black txt-low-weight-black div-lightgrey" style="min-height: 550px;width: 100%;">
    <div class="div-lightgrey" style="width: 50%;min-height: 550px;padding-left: 100px">
        <div class="div-top-ul">Grâce à votre prêt travaux, financez des travaux comme :</div>
        <ul class="ul-validate">
            <li class="li-validate"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Achat de motos</span></li>
            <li class="li-validate"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Achat de side-car</span></li>
            <li class="li-validate"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Achat de trike</span></li>
        </ul>
        <div class="div-bottom-ul">Vous avez besoin de plus d'informations concernant le prêt moto
            , les taux ou des questions ?<br>Notre équipe est à votre service.
        </div>
        <div class="div-btn-cred" style="margin-top: 50px;margin-left: 10%;">
            <div class="btn-pret" style="width: 100%">
                <a href="{{ path('contact') }}" class="link-pret"><p class="demande-pret montserrat-medium-white-14px">NOUS CONTACTER</p></a>
            </div>
        </div>
    </div>

    <div class="div-lightgrey div-img" style="min-height: 550px;background-image:url({{asset('assets/front/img/adobestock-143463998-copie-768x512@1x.png')}});background-size: 500px;background-position: 25% 40%;">
    </div>
</div>

<div class="txt-black div-emprunte-argent">
    Attention : emprunter de l'argent coûte aussi de l'argent
</div>
{% endblock %}