{% extends 'front/base-front.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block description %}{{description}}{% endblock %}
{% block body %}
<div class="regroup-div">
    <div class="left-form">
        <div class="titre-taux-black" style="min-height: auto">Prêt mobilité</div>
        <div class="txt-black" style="color: orange">TAEG à partir de <span class="big-number-orange">{{tauxmin}}%*</span></div><br><br>
        <div class="div-btn-cred redirect-button" style="margin-bottom: 20px;margin-left: auto;margin-right: auto;width: 100%;display: none">
            <div style="width: 100%;background-color: var(--web-orange);border-radius: 7px;">
                <a href="#redirect-simulation" class="link-pret"><p class="demande-pret nous-cont montserrat-medium-white-14px">SIMULER UN PRET</p></a>
            </div>
        </div>
        <div class="txt-black r-txt-auto">Financez votre vélo ou autre engin de mobilité douce</div><br>
        <div class="txt-black txt-low-weight-black">
            Le prêt mobilité vous permet de financer votre vélo, vélo électrique, trottinette, one wheel, overboard.<br><br>
            Vous remboursez des mensualités fixes, prévues à l'avance sur une durée déterminée.<br><br>
            Ainsi, vous pouvez gérer votre budget sans mauvaise surprise.
        </div>
        <div class="orange-title typo">
            *Taux préférentiel sous réserve d'acceptation du dossier par la société de crédit.
        </div>
    </div>

    <div id="redirect-simulation" class="form-pret">
       <div class="div-form-pret">
            <div class="div-titre-form">
              <h1 class="titre-form animate-enter1">
                  Simulez votre crédit</h1>
            </div>

            <div class="inputs label-form montserrat-medium-white-14px" style="width: 99%;">
              {% if pret.taux|length > 1 %}
              <div style="width: 99%;float: left">Votre projet</div>
              <div class="div-input-preview" style="width: 99%;float: left"><select class="input-form select-credit txt-low-weight-white"/>
              {% set first = true %}
                    {% set objFirst = "" %}
                    {% for taux in pret.taux %}
                    {% if first %}
                      {% set objFirst = taux %}
                      {% set first = false %}

                  {% endif %}
                        <option value="{{tauxmin}}">{{taux.nom}}</option>
                    {% endfor %}
                  </select>
              </div>
              {% else %}
              {% set objFirst = pret.taux[0] %}
              {% endif %}
              <div style="width: 99%;float: left">Montant <span style="font-weight: 100;" class="span-euro">- euro</span></div>
              <div class="div-input-preview" style="width: 99%;float: left"><input class="input-form montant-form txt-low-weight-white" placeholder="Entez un montant" value="12000"/></div>
              <div style="width: 99%;float: left">Durée <span style="font-weight: 100;" class="span-mois">- mois</span></div>
              <div class="div-input-preview" style="width: 99%;float: left">    
              <select class="input-form duree-form txt-low-weight-white">
              <option value="24">24</option>
              <option value="30">30</option>
              <option value="36">36</option>
             </select>  
            </div>
            </div>

            <div class=" montserrat-medium-white-14px" style="width: 99%;float: left;">Mensualités</div>
            <div class="txt-black big-number-orange big-num-orange" style="width: 99%;float: left;padding-bottom: 5px">
            <div class="label-form  montserrat-medium-white-14px" style="width: 99%;float: left;"></div>526<span class="litle-num-orange" style="font-size: 25px">,23</span>€</div>
            <div class="desc-div" style="line-height: 1.5;">
                <div class="txt-black txt-low-weight-white">Total à rembourser: <span class=" montant-info numbers-right">14.000€</span></div>
                <div class="txt-black txt-low-weight-white">Intérêts à payer: <span class="interet-info numbers-right">2.330€</span></div>
                <div class="txt-black txt-low-weight-white">TAEG: <span data="{{tauxmin}}" class="numbers-right taux-info">{{tauxmin}}%*</span></div>
                <div class="txt-black txt-low-weight-white">Durée: <span class="numbers-right duree-info">60 mois</span></div>
            <div class="txt-black txt-low-weight-white">Durée Max: <span class="numbers-right duree-info-max">60 mois</span></div>
            </div>
            <div class="div-btn-cred" style="margin-bottom: 40px;margin-top: 40px">
                <div class="btn-pret">
                     <a href="{{ path('demandePret') }}" class="link-pret">
                         <p class="demande-pret montserrat-medium-white-14px">FAIRE UNE DEMANDE</p>
                     </a>
                </div>
            </div>
            <div class="typo" style="color: lightgrey">La simulation réalisée avec l'outil n'est pas considérée <br>comme une offre et/ou une acceptation du crédit.</div>
       </div>
    </div>
</div>

<div class="txt-black txt-low-weight-black div-lightgrey" style="min-height: 550px;width: 100%;">
    <div class="div-lightgrey" style="width: 50%;min-height: 550px;padding-left: 100px">
        <div class="div-top-ul">Grâce à votre prêt mobilité, financez :</div>
        <ul class="ul-validate">
            <li class="li-validate"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Achat de vélo simple/électrique</span></li>
            <li class="li-validate"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Achat de trottinette simple/électrique</span></li>
            <li class="li-validate"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Achat de one wheel/overboard</span></li>
        </ul>
        <div class="div-bottom-ul">Vous avez besoin de plus d'informations concernant le prêt mobilité
            , les taux ou des questions ?<br>Notre équipe est à votre service.
        </div>
        <div class="div-btn-cred div-btn-cred-contacter" style="margin-top: 50px;margin-left: 10%;">
            <div class="btn-pret" style="width: 100%">
                <a href="{{ path('contact') }}" class="link-pret"><p class="demande-pret montserrat-medium-white-14px">NOUS CONTACTER</p></a>
            </div>
        </div>
    </div>
    <div class="div-lightgrey div-img" style="min-height: 550px;background-image:url({{asset('assets/front/img/monopattino-elettrico-quale-scegliere-1@1x.png')}});background-position: 25% 40%;background-size: 500px;">
    </div>
</div>

<div class="txt-black div-emprunte-argent">
    Attention : emprunter de l'argent coûte aussi de l'argent
</div>
{% endblock %}