{% extends 'front/base-front.html.twig' %}
{% block body %}
<div class="left-form">
    <div class="titre-taux-black" style="min-height: auto">Prêt personnel</div>
    {% for taux in pret.taux %}
    <div class="txt-black" style="color: orange">{{taux.nom}} TAEG à partir de <span class="big-number-orange">{{taux.taux}}%*</span></div><br><br>
    {% endfor %}
    <div class="txt-black">Un besoin d'argent immédiat ?</div><br>
    <div class="txt-black txt-low-weight-black">
        Le prêt personnel permet de faire face à des imprévus ou de financer vos projets.<br><br>
        Il vous permet d'avoir des liquidités, sans avoir à toucher à votre épargne.<br><br>
        Vous remboursez des mensualités fixes, en fonction de vos possibilités.
    </div>
    <div class="orange-title typo">
        *Taux préférentiel sous réserve d'acceptation du dossier par la société de crédit.
    </div>
</div>

<div class="form-pret">
   <div class="div-form-pret">
        <div class="div-titre-form">
          <h1 class="titre-form animate-enter1">
              Simulez votre crédit</h1>
        </div>

        <div class="inputs label-form montserrat-medium-white-14px" style="width: 99%;">
          <div style="width: 99%;float: left">Types de prêt</div>
          <div class="div-input-preview" style="width: 99%;float: left"><select class="input-form select-credit txt-low-weight-white"/>
          {% set first = true %}
                {% set objFirst = "" %}
                {% for taux in pret.taux %}
                {% if first %}
                  {% set objFirst = taux %}
                  {% set first = false %}

              {% endif %}
                    <option value="{{taux.taux}}">{{taux.nom}}</option>
                {% endfor %}
                #}
              </select>
          </div>
          <div style="width: 99%;float: left">Montant</div>
          <div class="div-input-preview" style="width: 99%;float: left"><input class="input-form montant-form txt-low-weight-white" placeholder="Entez un montant" value="12000"/></div>
          <div style="width: 99%;float: left">Durée</div>
          <div class="div-input-preview" style="width: 99%;float: left"><input class="input-form duree-form txt-low-weight-white" placeholder="Sélectionnez une durée" value="60"/></div>
        </div>

        
        <div class="txt-black big-number-orange big-num-orange" style="width: 99%;float: left;padding-top: 10px;padding-bottom: 5px">
        <div class="label-form  montserrat-medium-white-14px" style="float: left; width: 99%">Mensualités</div>526<span class="litle-num-orange" style="font-size: 25px">,23</span>€</div>
        <div class="desc-div" style="line-height: 1.5;">
            <div class="txt-black txt-low-weight-white">Total à rembourser: <span class="numbers-right montant-info">14.000€</span></div>
            <div class="txt-black txt-low-weight-white">Intérêts à payer: <span class="numbers-right interet-info">2.330€</span></div>
             {% for taux in pret.taux %}
             <div class="txt-black txt-low-weight-white">TAEG: <span class="numbers-right taux-info" data="{{taux.taux}}">{{taux.taux}}%*</span></div>
            {% endfor %}
        
            <div class="txt-black txt-low-weight-white">Durée: <span class="numbers-right duree-info">60 mois</span></div>
        </div>
        <div class="div-btn-cred" style="margin-bottom: 40px;margin-top: 40px">
            <div class="btn-pret">
                 <a href="{{ path('demandePret') }}" class="link-pret">
                     <p class="demande-pret montserrat-medium-white-14px">FAIRE UNE DEMANDE</p>
                 </a>
            </div>
        </div>
        <div class="typo" style="color: lightgrey">La simulation réalisée avec l'outil n'est pas considérée <br>comme une offre et/ou une acceptation du crédit.</div>
   </div>
</div>
<div class="txt-black txt-low-weight-black div-lightgrey" style="min-height: 680px;width: 100%;">
    <div class="div-lightgrey" style="width: 50%;min-height: 680px;padding-left: 100px">
        <div class="div-top-ul">Vous avez besoin d'argent pour :</div>
        <ul class="ul-validate">
            <li class="li-validate"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Achats de meubles</span></li>
            <li class="li-validate"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Déménagement / versement de caution</span></li>
            <li class="li-validate"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Achats de matériels informatique / multimédia</span></li>
            <li class="li-validate"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Évènements familiaux (naissance, mariage, décès)</span></li>
            <li class="li-validate"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Voyage</span></li>
            <li class="li-validate"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Règlement de factures</span></li>

    
        </ul>
        <div class="div-bottom-ul">Vous avez besoin de plus d'informations concernant les prêts personnels,
         les taux ou des questions ?<br>Notre équipe est à votre service.
        </div>
        <div class="div-btn-cred" style="margin-top: 50px;margin-left: 10%;">
            <div class="btn-pret" style="width: 100%;">
                <a href="{{ path('contact') }}" class="link-pret"><p class="demande-pret nous-cont montserrat-medium-white-14px">NOUS CONTACTER</p></a>
            </div>
        </div>
    </div>
    <div class="div-lightgrey div-img" style="min-height: 680px;background-image:url({{asset('assets/front/img/image-18@1x.png')}});background-size: 500px;background-position: 50% 100%;">
        <img class="img-page-credit" src="assets/front/img/homecine@1x.png" style="width: 40%;padding-top: 100px;border: solid #f8f8f8 15px;">
    </div>
</div>

<div class="txt-black div-emprunte-argent">
    Attention : emprunter de l'argent coûte aussi de l'argent
</div>
{% endblock %}