{% extends 'front/base-front.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block description %}{{description}}{% endblock %}
{% block body %}
<div class="regroup-div">
    <div class="left-form">
        <div class="titre-taux-black big-titre-taux-black" style="font-size: 50px;">Regroupement de crédits</div>
        <div class="txt-black" style="color: orange">TAEG à partir de <span class="big-number-orange">{{tauxmin}}%*</span></div><br><br>
        <div class="div-btn-cred redirect-button" style="margin-bottom: 20px;margin-left: auto;margin-right: auto;width: 100%;display: none">
            <div style="width: 100%;background-color: var(--web-orange);border-radius: 7px;">
                <a href="#redirect-simulation" class="link-pret"><p class="demande-pret nous-cont montserrat-medium-white-14px">SIMULER UN PRET</p></a>
            </div>
        </div>
        <div class="txt-black r-txt-auto">Tous vos prêts en un !</div><br>
        <div class="txt-black txt-low-weight-black">
            Le regroupement de crédits vous permet de rassembler plusieurs prêts personnels (travaux, auto, etc) en un seul.<br><br>
            En regroupant vos crédits, vous n'avez qu'un seul taux d'intérêt unique et une seule mensualité.<br><br>
            Vous pouvez ainsi mieux gérer votre budget.
        </div>
        <div class="orange-title typo">
            *Taux préférentiel sous réserve d'acceptation du dossier par la société de crédit.
        </div>
    </div>
    
    <div id="redirect-simulation" class="form-pret">
       <div class="div-form-pret">
            <div class="div-titre-form">
              <h1 class="titre-form animate-enter1">
                  Simulez votre crédit</h1>
            </div>
    
            <div class="inputs label-form montserrat-medium-white-14px" style="width: 99%;">
              <div style="width: 99%;float: left">Montant <span style="font-weight: 100;" class="span-euro">- euro</span></div>
              <div class="div-input-preview" style="width: 99%;float: left"><input class="input-form montant-form txt-low-weight-white" placeholder="Entez un montant" value="12000"/></div>
              <div style="width: 99%;float: left">Durée <span style="font-weight: 100;" class="span-mois">- mois</span></div>
              <div class="div-input-preview" style="width: 99%;float: left">    
              <select class="input-form duree-form txt-low-weight-white">
              <option value="24">24</option>
              <option value="30">30</option>
              <option value="36">36</option>
              <option class="min-option-pret-mobi" value="42">42</option>
              <option class="min-option-pret-mobi" value="48">48</option>
              <option class="min-option-pret-mobi" value="60">60</option>
              <option class=" min-option-voit-occas min-option-moto-occas min-option-pret-mobi" value="72">72</option>
              <option class=" min-option-voit-occas min-option-moto-occas min-option-pret-mobi" value="84">84</option>
              <option class="min-option-voit-neuv min-option-voit-occas min-option-moto-neuf min-option-moto-occas min-option-pret-mobi" style="display:none"value="96">96</option>
              <option class="min-option-voit-neuv min-option-voit-occas min-option-moto-neuf min-option-moto-occas min-option-pret-mobi"style="display:none" value="108">108</option>
              <option class="min-option-voit-neuv min-option-voit-occas min-option-moto-neuf min-option-moto-occas min-option-pret-mobi" style="display:none" value="120">120</option>
            </select>  </div>
            </div>
    
            <div class=" montserrat-medium-white-14px" style="width: 99%;float: left;">Mensualités</div>    
            <div class="txt-black big-number-orange big-num-orange" style="width: 99%;float: left;padding-bottom: 5px">
            <div class="label-form  montserrat-medium-white-14px" style="width: 99%;float: left;">Mensualités</div>526<span class="litle-num-orange" style="font-size: 25px">,23</span>€</div>
            <div style="line-height: 1.5;">
                 <div class="txt-black txt-low-weight-white">Total à rembourser: <span class="montant-info numbers-right">14.000€</span></div>
                <div class="txt-black txt-low-weight-white">Intérêts à payer: <span class="interet-info numbers-right">2.330€</span></div>
                <div class="txt-black txt-low-weight-white">TAEG: <span  data="{{pret.taux}}" class="taux-info numbers-right">{{pret.taux}}%*</span></div>
                <div class="txt-black txt-low-weight-white">Durée: <span class="duree-info numbers-right">60 mois</span></div>
                <div class="txt-black txt-low-weight-white">Durée Max: <span class="numbers-right duree-info-max">60 mois</span></div>
            </div>
            <div class="div-btn-cred" style="margin-bottom: 40px;margin-top: 40px">
                <div class="btn-pret">
                     <a href="{{ path('demandePret') }}" class="link-pret">
                         <p class="demande-pret montserrat-medium-white-14px">FAIRE UNE DEMANDE</p>
                     </a>
                </div>
            </div>
            <div class="typo" style="color: lightgrey">La simulation réalisée avec l'outil n'est pas considérée <br>comme une offre et/ou une acceptation du crédit.</div>
       </div>
    </div>
</div>

<div class="txt-black txt-low-weight-black div-lightgrey" style="min-height: 500px;width: 100%;">
    <div class="div-top-ul">Le regroupement de crédit offre plusieurs avantages.</div>
    <ul class="ul-validate" style="columns: 2;width: 80%">
        <li class="li-validate"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Un seul interlocuteur</span></li>
        <li class="li-validate"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Une seule mensualité</span></li>
        <li class="li-validate"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Un seul taux d'intérêt fixe</span></li>
        <li class="li-validate"><img class="img-validate" src="assets/front/img/trac--338@1x.png"><span class="padding-validate">Diminution des charges mensuelles</span></li>
    </ul>
    <div class="div-bottom-ul" style="width: 40%">Vous avez besoin de plus d'informations concernant les regroupements de crédits
        , les taux ou des questions ?<br>Notre équipe est à votre service.
    </div>
    <div class="div-btn-cred" style="margin-top: 50px;margin-left: 10%;padding-bottom: 30px;">
        <div class="btn-pret" >
            <a href="{{ path('contact') }}" class="link-pret"><p class="demande-pret montserrat-medium-white-14px">NOUS CONTACTER</p></a>
        </div>
    </div>
</div>
<div class="txt-black div-emprunte-argent">
    Attention : emprunter de l'argent coûte aussi de l'argent
</div>
{% endblock %}